<div class="py-3"></div>

<div class="component">
  <div class="row">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12">
      <h2>Desafío Semanal</h2>
      <hr>
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 text-center"><img class="w-50" [src]="validChallenge.challenge.image" alt=""></div>
            <div class="col-lg-3 col-md-3">
              <h3>{{ validChallenge.challenge.title }}</h3>
              <h4><strong>Objetivo:</strong> {{ validChallenge.challenge.text }} </h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5>Fecha de vigencia:</h5> <h4><small>{{ validChallenge.challenge.startDate | date:"dd/LLLL/yyyy" }} al {{ validChallenge.challenge.endDate | date:"dd/LLLL/yyyy" }}</small></h4></div>
            <div class="col-lg-3 col-md-3"><button class="btn btn-danger btn-block bg-red">Ver el Reto</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12 mt-3">
      <h2>Desafíos anteriores <small class="text-muted">Siguen siendo funcionales</small></h2>
      <hr>
      <div *ngFor="let challenge of challenges" class="card opaco shadow-sm my-2">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 text-center"><img class="w-50" [src]="challenge.image" [alt]="challenge.title"></div>
            <div class="col-lg-3 col-md-3">
              <h3>{{ challenge.title }}</h3>
              <h4><strong>Objetivo:</strong> {{ challenge.text }} </h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5>Fecha de vigencia:</h5> <h4><small>{{ challenge.startDate | date:"dd/LLLL/yyyy" }} al {{ challenge.endDate | date:"dd/LLLL/yyyy" }}</small></h4></div>
            <div class="col-lg-3 col-md-3"><button class="btn btn-outline-secondary btn-block">Ver el Reto</button></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-3"></div>
