<div class="container-fluid">


    <div class="row animated fadeIn">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
        <h2 class="text-center text-uppercase">Desafío <b class="underlined">Semanal&emsp;&emsp;</b></h2>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12 my-3">
      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="validChallenge.challenge" class="row">




            <div class="col-lg-3 col-md-3 text-center"><img class="w-50" [src]="validChallenge.challenge.image" alt=""></div>
            <div class="col-lg-3 col-md-3">
              <h3 class="text-uppercase">{{ validChallenge.challenge.title }}</h3>
              <h4><strong>Objetivo:</strong> {{ validChallenge.challenge.text }} </h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5 class="text-uppercase"><strong>Fecha de vigencia:</strong></h5> <h4><small>{{ validChallenge.challenge.startDate | date:"dd/LLLL/yyyy" }} al {{ validChallenge.challenge.endDate | date:"dd/LLLL/yyyy" }}</small></h4></div>
            <div class="col-lg-3 col-md-3">
              <button class="btn btn-danger btn-block bg-red" [routerLink]="[ '/detail-challenge', validChallenge.challenge._id ]" >Ver el Reto</button>
              <!-- <h4 class="py-3"><small>Finalizado por {{  }} Changers</small></h4> -->

              Usuarios que lo terminaron:

              <ul>
                <li *ngFor="let user of successUsers">validChallenge.challenge.userSucess</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn background-gray">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5">
      <h4 class="text-center text-uppercase">Desafios <b class="underlined-inverse">Anteriores&emsp;&emsp;</b></h4>
      <h5 class="text-center text-uppercase"><small class="text-muted">Siguen siendo funcionales</small></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12 mt-3">
      <div *ngFor="let challenge of challenges" class="card opaco shadow-sm my-2">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 text-center"><img class="w-50" [src]="challenge.image" [alt]="challenge.title"></div>
            <div class="col-lg-3 col-md-3">
              <h3>{{ challenge.title }}</h3>
              <h4><strong>Objetivo:</strong> {{ challenge.text }} </h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5>Fecha de vigencia:</h5> <h4><small>{{ challenge.startDate | date:"dd/LLLL/yyyy" }} al {{ challenge.endDate | date:"dd/LLLL/yyyy" }}</small></h4></div>
            <div class="col-lg-3 col-md-3"><button class="btn btn-outline-secondary btn-block" [routerLink]="[ '/detail-challenge', challenge._id ]">Ver el Reto</button></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-3"></div>
