<div class="py-3"></div>

<div class="component">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
      <h2>Desafío Semanal</h2>
      <hr>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">IMAGEN</div>
            <div class="col-lg-3 col-md-3">
              <h3>Levantamiento alternado de mancuerna</h3>
              <h4>Objetivo: 50 Repeticiones</h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5>Fecha de vigencia:</h5> <h4><small>1 al 10 de enero</small></h4></div>
            <div class="col-lg-3 col-md-3"><button class="btn btn-danger btn-block bg-red">Ver el Reto</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12 mt-3">
      <h2>Desafíos anteriores <small class="text-muted">Siguen siendo funcionales</small></h2>
      <hr>
      <div class="card opaco bg-black" style="color:#fff;">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">IMAGEN</div>
            <div class="col-lg-3 col-md-3">
              <h3>Levantamiento alternado de mancuerna</h3>
              <h4>Objetivo: 50 Repeticiones</h4>
            </div>
            <div class="col-lg-3 col-md-3"><h5>Fecha de vigencia:</h5> <h4><small>1 al 10 de enero</small></h4></div>
            <div class="col-lg-3 col-md-3"><button class="btn btn-outline-secondary btn-block">Ver el Reto</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>
