<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-lg-2 col-md-2 col-sm-11 col-xs-11 offset-sm-1 offset-xs-1 text-center ml-3">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start active">Categorías</li>
        <li *ngFor="let category of categories" class="list-group-item"><a href="">{{ category.name }}</a> </li>
      </ul>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 offset-lg-0 offset-md-0 offset-sm-1 offset-xs-1 text-center">
        <div class="carousel-inner">
          <div class="carousel-item active pt-1">
            <img class="d-block w-100" src="{{ post.image }}" alt="{{ post.title }} | {{ post.subtitle }}">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="display-1 py-5">{{ post.title }}</h1>
              <h3 class="text-center py-2">{{ post.subtitle }}</h3>
            </div>
          </div>
        </div>
      <h6 class="text-center py-3">Categoría: {{ post.category }}</h6>

    </div>

    <div class="row py-2 text-justify">
      <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 offset-lg-2 offset-md-2 offset-sm-1 offset-xs-1">
        {{ post.text }}
      </div>
    </div>

  </div>

  <div class="py-2 text-right">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <h6 class="py-2">Fecha de publicación: {{ post.date }}</h6>
      <h6 class="py-2">Autor: {{ post.author }}</h6>
    </div>
  </div>

</div>
