
<nav class="navbar navbar-expand-lg navbar-dark background-black">
  <!-- <p class="navbar-brand text-center" href="#">Powered By CoHouse | 2017</p> -->
  <p class="navbar-nav white-font py-1">Powered By BlackRoadCoding | 2017</p>

  <!-- <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Meta Body Changer 2018
    </span>
  </div> -->
</nav>
