<div class="container-fluid">

  <div class="row py-3">

    <div class="col-lg-2 col-md-2 col-sm-10-col-sm-10 offset-lg-1 offset-md-1 offsetsm-1 offset-xs-1">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-blog-tab" data-toggle="pill" href="#update-blog" role="tab" aria-controls="v-pills-home" aria-selected="true">Administración Blog</a>
        <a class="nav-link" id="v-pills-video-tab" data-toggle="pill" href="#update-videos" role="tab" aria-controls="v-pills-profile" aria-selected="false">Administración Video</a>
        <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#update-pagos" role="tab" aria-controls="v-pills-messages" aria-selected="false">Administración Pagos</a>
        <a class="nav-link" id="v-pills-users-tab" data-toggle="pill" href="#update-users" role="tab" aria-controls="v-pills-messages" aria-selected="false">Alta de Usuarios por Rol</a>
      </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10 ">
      <div class="tab-content" id="v-pills-tabContent">

        <!--= Tab Blog =-->
        <div class="tab-pane fade show active" id="update-blog" role="tabpanel" aria-labelledby="v-pills-blog-tab">
          <h4 class="pb-2">Alta de Registro - Blog</h4>

          <form>
            <div class="form-group">
              <label for="post-title"><h6>Título</h6></label>
              <input type="text" class="form-control" id="post-title" aria-describedby="emailHelp" placeholder="Título">
              <small id="titleHelp" class="form-text text-muted">Máximo X caracteres y que sea muy descriptivo.</small>
            </div>
            <div class="form-group">
              <label for="post-subtitle"><h6>Subtítulo</h6></label>
              <input type="text" class="form-control" id="post-subtitle" placeholder="Subtítulo">
              <small id="subtitleHelp" class="form-text text-muted">Complementario al título.</small>
            </div>
            <div class="form-group">
              <label for="post-image"><h6>Imagen</h6></label>
              <input type="file" class="form-control-file" id="post-image">
            </div>
            <div class="form-group">
              <label for="post-body"><h6>Post</h6></label>
              <textarea class="form-control" id="post-body" rows="10"></textarea>
              <small id="postbodyHelp" class="form-text text-muted">Ingresar el texto en HTML.</small>
            </div>

            <h6>Visibilidad</h6>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="visible" id="blog-visible-all" value="V">
                <label class="form-check-label" for="blog-visible-all">Todos</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="visible" id="blog-visible-register" value="R">
                <label class="form-check-label" for="blog-visible-register">Usuarios Registrados</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="visible" id="blog-visible-vip" value="B">
                <label class="form-check-label" for="blog-visible-vip">Solo VIP</label>
              </div>
            </div>

            <button type="submit" class="btn btn-danger">Guardar</button>
          </form>

        </div>

        <!--= Tab Videos =-->
        <div class="tab-pane fade" id="update-videos" role="tabpanel" aria-labelledby="v-pills-video-tab">
          <h4 class="pb-2">Alta de Registro - Video</h4>

          <form>
            <div class="form-group">
              <label for="video-title"><h6>Título</h6></label>
              <input type="text" class="form-control" id="video-title" aria-describedby="videoTitle" placeholder="Título">
              <small id="videotitleHelp" class="form-text text-muted">Máximo X caracteres y que sea muy descriptivo.</small>
            </div>
            <div class="form-group">
              <label for="video"><h6>Video</h6></label>
              <input type="file" class="form-control-file" id="video">
            </div>
            <div class="form-group">
              <label for="video-body"><h6>Descripción</h6></label>
              <textarea class="form-control" id="video-body" rows="3"></textarea>
              <small id="postbodyHelp" class="form-text text-muted">Ingresar el texto en HTML.</small>
            </div>

            <h6>Visibilidad</h6>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="video-visible" id="video-visible-all" value="V">
                <label class="form-check-label" for="video-visible-all">Todos</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="video-visible" id="video-visible-register" value="R">
                <label class="form-check-label" for="video-visible-register">Usuarios Registrados</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-inline" type="radio" name="video-visible" id="video-visible-vip" value="B">
                <label class="form-check-label" for="video-visible-vip">Solo VIP</label>
              </div>
            </div>

            <button type="submit" class="btn btn-danger">Guardar</button>
          </form>
        </div>

        <!--= Tab Pagos =-->
        <div class="tab-pane fade" id="update-pagos" role="tabpanel" aria-labelledby="v-pills-payments-tab">
          <h4 class="pb-2">Administración de Pagos <small class="text-muted">Alta de Changers</small></h4>

          <form class="form-inline" #formPayments="ngForm">
            <div class="row py-1">

              <div class="form-group">
                <label class="px-1" for="mail"><h6>Email</h6></label>
                <input type="email" class="form-control" name="paymentEmail" placeholder="Email" ngModel required >
              </div>

              <div class="form-group">
                <label class="px-1" for="mail"><h6>Fecha de Inicio</h6></label>
                <input type="email" class="form-control" name="paymentStartDate" placeholder="aaaa/mm/dd" ngModel required >
              </div>

              <div class="form-group">
                <label class="px-1" for="mail"><h6>Fecha de Fin</h6></label>
                <input type="email" class="form-control" name="paymentEndDate" placeholder="aaaa/mm/dd" ngModel required >
              </div>

              <div class="form-group">
                <button class="btn btn-danger mx-3 px-4" (click)="changerRegister(formPayments)" [disabled]="!formPayments.valid">Guardar</button> 
              </div>

            </div>
          </form>

          <div *ngIf="saveSucess" id="alertSucess" class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <strong>Éxito</strong> Registro guardado correctamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </div>

        <!-- Tab Users -->
        <div class="tab-pane fade" id="update-users" role="tabpanel" aria-labelledby="v-pills-users-tab">

          <div class="text-center py-3">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="activaAdmin()" type="button" class="btn btn-secondary">Administrador</button>
              <button (click)="activaNutritionist()" type="button" class="btn btn-secondary">Nutricionista</button>
              <button (click)="activaPlanner()" type="button" class="btn btn-secondary">Planificador</button>
            </div>
          </div>

          <h4 *ngIf="vActivaAdmin" class="pb-2">Alta de Registro - Administrador</h4>

            <form class="form-inline" *ngIf="vActivaAdmin" (ngSubmit)="adminRegister(formAdmins)" #formAdmins="ngForm">
              <div class="row py-1">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="email" name="adminEmail" aria-describedby="basic-addon1" >
                </div>

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Inicio</h6></label>
                  <input type="email" class="form-control" name="adminFInicio" placeholder="aaaa/mm/dd" ngModel required >
                </div>

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Fin</h6></label>
                  <input type="email" class="form-control" name="adminFFin" placeholder="aaaa/mm/dd" ngModel required >
                </div>

              </div>
              <div class="text-center py-3 px-4">
                <button type="button" [disabled]="formAdmins.valid" class="btn btn-danger">Cancelar</button>
                <button type="button" [disabled]="!formAdmins.valid" class="btn btn-success">Guardar</button>
              </div>
            </form>

            <hr>

          <h4 *ngIf="vActivaNutri" class="pb-2">Alta de Registro - Nutricionista</h4>
            <form *ngIf="vActivaNutri" class="form-inline" #formNutris="ngForm">
              <div class="row py-1">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <!-- <div class="form-group">
                  <label class="px-2" for="mail"><h6>Email</h6></label>
                  <input type="email" class="form-control" name="adminMail" placeholder="Ingresar email" ngModel required #adminMail="ngModel">
                </div> -->

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Inicio</h6></label>
                  <input type="email" class="form-control" name="adminFInicio" placeholder="aaaa/mm/dd" ngModel required #adminIniVig="ngModel">
                </div>

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Fin</h6></label>
                  <input type="email" class="form-control" name="adminFFin" placeholder="aaaa/mm/dd" ngModel required #adminFinVig="ngModel">
                </div>

              </div>
            </form>
            <hr>
          <h4 *ngIf="vActivaPlane" class="pb-2">Alta de Registro - Planificador</h4>
            <form *ngIf="vActivaPlane" class="form-inline" #formPlanners="ngForm">
              <div class="row py-1">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Inicio</h6></label>
                  <input type="email" class="form-control" name="adminFFin" placeholder="aaaa/mm/dd" ngModel required #adminFinVig="ngModel">
                </div>

                <div class="form-group">
                  <label class="px-2" for="mail"><h6>Fecha de Fin</h6></label>
                  <input type="email" class="form-control" name="adminFFin" placeholder="aaaa/mm/dd" ngModel required #adminFinVig="ngModel">
                </div>

              </div>
            </form>
            <hr>

            <!-- <div class="text-center py-3">
              <button type="button" [disabled]="formAdmins.valid" class="btn btn-danger">Cancelar</button>
              <button type="button" [disabled]="!formAdmins.valid" class="btn btn-success">Guardar</button>
            </div> -->

        </div>

      </div>
    </div>

  </div>
</div>
