<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="card border-light my-4 pt-3">
        <div class="col-lg-4 align-self-center py-4"><h3>Planes Pendientes <small class="text-muted">Atender de mayor a menor</small></h3> </div>

        <div class="col-lg-10 align-self-center">
          <!-- tabla -->
          <div class="tab-pane fade show active" id="pills-oneday" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-ligth table-bordered table-hover table-responsive-sm table-responsive-md">
              <thead>
                <tr>
                  <th class="text-center background-blue text-uppercase white-font" scope="col">#</th>
                  <th class="text-center background-blue text-uppercase white-font" scope="col">user</th>
                  <th class="text-center background-blue text-uppercase white-font" scope="col">Fecha de Pago/Alta</th>
                  <th class="text-center background-blue text-uppercase white-font" scope="col">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plan of plannsPending; let i = index;">
                  <th class="text-center" scope="row">{{ i + 1 }}</th>
                  <td>{{ plan.user }}</td>
                  <td>{{ plan.startDate | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX" }}</td>
                  <td class="text-center"><a [routerLink]="['/plan-detail', plan._id ]">Ver Detalle</a></td>
                </tr>
              </tbody>
            </table>

            <div class="col-sm-12 col-xs-12 d-block d-sm-none d-block d-sm-none"><i class="fas fa-arrow-left"></i> Swap para ver la tabla completa <i class="fas fa-arrow-right"></i></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
