<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="card border-light my-4 pt-3">
        <div class="col-lg-4 align-self-center py-4"><h3>Planes Pendientes <small class="text-muted">Atender de mayor a menor</small></h3> </div>
        <!-- <hr class="shadow-sm mx-5"> -->
        <div class="col-lg-12 align-self-center">
          <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item mx-5">
              <h4 class="text-center my-1">Hold 3+ Días: </h4><p class="text-center"> <span class="badge badge-pill badge-primary">{{ pendientes }}</span> </p>
              <a class="btn btn-primary nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-threeday" role="tab" aria-controls="pills-contact" aria-selected="false">Ver la Tabla</a>
            </li>
            <li class="nav-item mx-5">
              <h4 class="text-center my-1">Hold 2 Días: </h4><p class="text-center"> <span class="badge badge-pill badge-info">{{ pendientes }}</span> </p>
              <a class="btn btn-info nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-twoday" role="tab" aria-controls="pills-profile" aria-selected="false">Ver la Tabla</a>
            </li>
            <li class="nav-item mx-5">
              <h4 class="text-center my-1">Hold 1 Día: </h4><p class="text-center"> <span class="badge badge-pill badge-success">{{ pendientes }}</span> </p>
              <a class="btn btn-success nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-oneday" role="tab" aria-controls="pills-home" aria-selected="true">Ver la Tabla</a>
            </li>
          </ul>
        </div>
    </div>

      <div class="card border-light my-4 pt-3">

        <div class="col-lg-10 align-self-center">
          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-oneday" role="tabpanel" aria-labelledby="pills-home-tab">

              <table class="table table-ligth table-bordered table-hover table-responsive-sm table-responsive-md">
                <thead>
                  <tr>
                    <th class="text-center background-blue text-uppercase white-font" scope="col">#</th>
                    <th class="text-center background-blue text-uppercase white-font" scope="col">Nombre</th>
                    <th class="text-center background-blue text-uppercase white-font" scope="col">Fecha de Pago/Alta</th>
                    <th class="text-center background-blue text-uppercase white-font" scope="col">Detalle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <!-- <tr *ngFor="let changer of changersList"> -->
                    <th scope="row">1</th>
                    <td>José</td>
                    <td>24/12/1982</td>
                    <td><a href="#">Ver Detalle</a></td>
                  </tr>
                </tbody>
              </table>

              <div class="col-sm-12 col-xs-12 d-block d-sm-none d-block d-sm-none"><i class="fas fa-arrow-left"></i> Swap para ver la tabla completa <i class="fas fa-arrow-right"></i></div>
            </div>

            <div class="tab-pane fade show" id="pills-twoday" role="tabpanel" aria-labelledby="pills-profile-tab">
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi repellendus accusamus vel cupiditate ullam optio non aperiam a soluta sequi, doloremque harum. Suscipit doloribus natus omnis, tenetur nulla esse sed.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nulla, sequi aliquid dolorem doloremque, placeat amet, ea ut similique dicta, maiores eius. Laudantium doloremque consectetur alias officia ad facilis qui.
              </p>
            </div>

            <div class="tab-pane fade show" id="pills-threeday" role="tabpanel" aria-labelledby="pills-contact-tab">
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laboriosam saepe voluptates minus natus, quisquam perspiciatis dolorem minima, ea magni voluptatem voluptatibus, suscipit debitis cumque autem. Hic consequatur dicta earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nihil ullam amet tempore dolore delectus asperiores non quos minus. Quae consequatur cum sunt eligendi amet recusandae esse libero minima nisi.
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
