/*=============================================>>>>>
= Navbar & Generals =
===============================================>>>>>*/

.background-black{
  background-color: #000;
}

.background-white{
  background-color: #fff;
}

.white-font{
  color: #fff;
}

.yellow-font{
  color: #ffff00 !important;
}

.video-link{
  color: #ff3239 !important;
}

.underlined {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}

.newsletter-font{
  text-transform: uppercase;
  font-size: 2em;
}

.shadow {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.shadow-sm {
  /* width: 125px; */
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.nav-tabs > .background-black:hover{
  background-color: #000;
  color: #fff;
}
