/*=============================================>>>>>
= Navbar & Generals =
===============================================>>>>>*/

.background-black{
  background-color: #000;
}

.background-white{
  background-color: #fff;
}

.white-font{
  color: #fff;
}

.underlined {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
