/*=============================================>>>>>
= Navbar & Generals =
===============================================>>>>>*/

.background-black{
  background-color: #000;
}

.background-gray{
  background-color: #D5D5D5;
}

.background-white{
  background-color: #fff;
}

.background-blue{
  background-color: #216bb4;
}

.white-font{
  color: #fff;
}

.black-font{
  color: #000 !important;
}

.font-four{
  font-size: 300%;
}

pre-footer-font > li > a{
  color: #000 !important;
}

.yellow-font{
  color: #ffff00 !important;
}

.video-link{
  color: #ff3239 !important;
}

.underlined {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}

.underlined-inverse {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

.newsletter-font{
  text-transform: uppercase;
  font-size: 2em;
}

.shadow {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.shadow-sm {
  /* width: 125px; */
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.opaco{
  opacity: .5;
}

.nav-tabs > .background-black:hover{
  background-color: #000;
  color: #fff;
}

.ng-invalid.ng-touched:not(form){
  border: 1px solid red;
  }

  .menu-item{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5em;
    color: #000;
  }

  .menu-active{
    background-color: #000;
  }

  .menu-active > a{
    color: white !important;
  }

  h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Ubuntu Mono', monospace;
  }

  p{
    font-size: 1.2rem;
  }

  .img-thumbnail{
    width: 200px;
    height: 200px;
  }
