<div class="container-fluid">

  <div class="row py-2">

    <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5 pb-3 text-center">

      <ul class="nav nav-tabs flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li class="list-group-item list-group-item-action flex-column align-items-start background-black white-font"><h6>Categorías</h6></li>
        <li *ngFor="let category of categories; let i = index;" class="list-group-item">
          <a
          id="v-pills-{{ category.name }}-tab"
          data-toggle="tab"
          href="#v-pills-{{ category.ref }}"
          role="tab"
          aria-controls="v-pills-all"
          aria-selected="true"><h6>{{ category.name }}</h6></a>
        </li>
      </ul>

    </div>

    <div class="col-lg-10 col-sm-12 col-xs-12">

      <div class="tab-content" id="v-pills-all-tab">

        <!-- Inicio Tab "Todas" -->
        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all">

          <div class="card-deck">
            <div *ngFor="let video of videos" class="card my-3 shadow-sm" style="min-width:25%; max-width:40%">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" [src]="video.image" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
                 <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
                 <a href="#/video/{{ video._id }}" class=""><h6>Leer más ></h6></a>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>

          </div>

        </div>
        <!-- Fin Tab "todas" -->

        <!-- Inicio Tab "Volúmen e Intensidad" -->
        <div class="tab-pane fade" id="v-pills-volume" role="tabpanel" aria-labelledby="v-pills-volume-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase">Volúmen e <b class="underlined">Intensidad&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">

            <div *ngFor="let post of postsVolume" class="card my-3 shadow" style="min-width:25%; max-width:40%">
             <a href="#/post/{{ post._id }}"><img class="card-img-top" src="{{ post.image }}" [alt]="post.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/post/{{ post._id }}">{{ post.title }}</a></h5>
               <p class="card-text" [innerHtml]='post.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ post.date }}</small>
             </div>
           </div>

          </div>

        </div>
        <!-- Fin Tab "Carga" -->

        <!-- Inicio Tab "Nutrición" -->
        <div class="tab-pane fade" id="v-pills-nutrition" role="tabpanel" aria-labelledby="v-pills-nutrition-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Nutrición&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">

            <div *ngFor="let post of postsNutrition" class="card my-3 shadow" style="min-width:25%; max-width:40%">
             <a href="#/post/{{ post._id }}"><img class="card-img-top" src="{{ post.image }}" [alt]="post.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/post/{{ post._id }}">{{ post.title }}</a></h5>
               <p class="card-text" [innerHtml]='post.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ post.date }}</small>
             </div>
           </div>

          </div>

        </div>
        <!-- Fin Tab "Nutrición" -->

        <!-- Inicio Tab "Ejercicios" -->
        <div class="tab-pane fade" id="v-pills-exercices" role="tabpanel" aria-labelledby="v-pills-exercices-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Ejercicios&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">

            <div *ngFor="let post of postsExercises" class="card my-3 shadow" style="min-width:25%; max-width:40%">
             <a href="#/post/{{ post._id }}"><img class="card-img-top" src="{{ post.image }}" [alt]="post.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/post/{{ post._id }}">{{ post.title }}</a></h5>
               <p class="card-text" [innerHtml]='post.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ post.date }}</small>
             </div>
           </div>

          </div>

        </div>
        <!-- Fin Tab "Ejercicios" -->

        <!-- Inicio Tab "Suplementos" -->
        <div class="tab-pane fade" id="v-pills-suplements" role="tabpanel" aria-labelledby="v-pills-suplements-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Suplementos&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">

            <div *ngFor="let post of postsSuplements" class="card my-3 shadow" style="min-width:25%; max-width:40%">
             <a href="#/post/{{ post._id }}"><img class="card-img-top" src="{{ post.image }}" [alt]="post.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/post/{{ post._id }}">{{ post.title }}</a></h5>
               <p class="card-text" [innerHtml]='post.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ post.date }}</small>
             </div>
           </div>

          </div>

        </div>
        <!-- fin Tab "Complementos" -->

      </div>

    </div>
  </div>
</div>

<div class="py-3"></div>
