<div class="container-fluid">

  <div class="row py-2">

    <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5 pb-3 text-center">
      <ul class="nav nav-tabs flex-column text-uppercase shadow" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li class="list-group-item list-group-item-action flex-column align-items-start background-black white-font"><h5>Categorías</h5></li>
        <li *ngFor="let category of categories; let i = index;" class="list-group-item">
          <a
          class="video-link"
          id="v-pills-{{ category.name }}-tab"
          data-toggle="tab"
          href="#v-pills-{{ category.ref }}"
          role="tab"
          aria-controls="v-pills-all"
          aria-selected="true"><h5>{{ category.name }}</h5></a>
        </li>
      </ul>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <div class="tab-content" id="v-pills-all-tab">

        <!-- Inicio Tab "Todas" -->
        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all">

          <div class="card-deck">
            <div *ngFor="let video of videos" class="card my-3 shadow-sm" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" [src]="video.image" [alt]="video.title"></a>
             <div class="card-body">
                 <h4 class="card-title"><a class="video-link" href="#/video/{{ video._id }}">{{ video.title }}</a></h4>
                 <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
                 <a href="#/video/{{ video._id }}" class="video-link"><h4>Ver más ></h4></a>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Legs" -->
        <div class="tab-pane fade" id="v-pills-legs" role="tabpanel" aria-labelledby="v-pills-volume-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Legs&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosLegs" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Straigth Arms" -->
        <div class="tab-pane fade" id="v-pills-straigtharms" role="tabpanel" aria-labelledby="v-pills-nutrition-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase">Straigth <b class="underlined">Arms&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosStraigtharms" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Stretch Arms" -->
        <div class="tab-pane fade" id="v-pills-stretcharms" role="tabpanel" aria-labelledby="v-pills-exercices-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase">Stretch <b class="underlined">Arms&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosStretcharms" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Chest" -->
        <div class="tab-pane fade" id="v-pills-chest" role="tabpanel" aria-labelledby="v-pills-suplements-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Chest&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosChest" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Core" -->
        <div class="tab-pane fade" id="v-pills-core" role="tabpanel" aria-labelledby="v-pills-suplements-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Core&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosCore" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

        <!-- Inicio Tab "Gymnast" -->
        <div class="tab-pane fade" id="v-pills-gymnast" role="tabpanel" aria-labelledby="v-pills-suplements-tab">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
              <h4 class="text-center text-uppercase"><b class="underlined">Gymnast&emsp;&emsp;</b></h4>
            </div>
          </div>

          <div class="card-deck">
            <div *ngFor="let video of videosGymnast" class="card my-3 shadow" style="min-width:25%;">
             <a href="#/video/{{ video._id }}"><img class="card-img-top" src="{{ video.image }}" [alt]="video.title"></a>
             <div class="card-body">
                 <h5 class="card-title"><a href="#/video/{{ video._id }}">{{ video.title }}</a></h5>
               <p class="card-text" [innerHtml]='video.text | slice:0:200'></p>
             </div>
             <div class="card-footer">
               <small class="text-muted">Publicado el: {{ video.date }}</small>
             </div>
           </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>
