<div class="container-fluid" *ngIf="categories && topicsPresentations && topicsDubtsPlattform && topicsTransformations && topicsExercise && topicsAlimentation">
  <div class="row py-2">

    <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5 pb-3 text-center">
      <ul class="nav nav-tabs flex-column" role="tablist" aria-orientation="vertical">
        <li class="list-group-item list-group-item-action flex-column align-items-start background-black white-font"><h6>Categorías</h6></li>
        <li *ngFor="let category of categories; let i = index;" class="list-group-item">
          <a
          data-toggle="tab"
          [routerLink]="['category', category.ref ]"
          aria-selected="true"><h6>{{ category.name }}</h6></a>
        </li>
      </ul>
    </div>

    <div class="col-lg-10 col-md-10 col sm-12 col-xs-12">

      <table *ngIf="categories" class="table table-bordered">
        <thead class="background-black" style="color:#fff;">
          <tr>
            <th scope="col" colspan="3"><h5>Bienvenida a nuevos usuarios</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark text-center">
            <td class=""><h5>Categoría</h5></td>
            <td class=""><h5>Temas</h5></td>
            <td class=""><h5>Última discusión</h5></td>
          </tr>
          <!-- Presentaciones -->
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" [routerLink]="['category', categories[0].ref ]">{{ categories[0].name }}</a></h6>
              <small>Bienvenidas y presentaciones</small>
            </td>
            <td class="text-center align-middle">{{ numberPresentations }}</td>
            <td>
              <h6><a class="enlace-foro" [routerLink]="['category', categories[0].ref, 'topic', topicsPresentations[ numberPresentations - 1 ]._id ]">{{ topicsPresentations[ numberPresentations - 1 ].title }}</a></h6>
              <small>Por: <strong>{{ topicsPresentations[ numberPresentations - 1 ].author }}</strong> {{ topicsPresentations[ numberPresentations - 1 ].date | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX" }}</small>
            </td>
          </tr>

          <!-- Dudas con la Plataforma -->
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" [routerLink]="['category', categories[1].ref ]">{{ categories[1].name }}</a></h6>
              <small>Cualquier duda relacionada al funcionamiento del sitio</small>
            </td>
            <td class="text-center align-middle">{{ numberPlattaformDoubts }}</td>
            <td>
              <h6><a class="enlace-foro" [routerLink]="['category', categories[1].ref, 'topic', topicsDubtsPlattform[ numberPlattaformDoubts - 1 ]._id ]">{{ topicsDubtsPlattform[ numberPlattaformDoubts - 1 ].title }}</a></h6>
              <small>Por: <strong>{{ topicsDubtsPlattform[ numberPlattaformDoubts - 1 ].author }}</strong> el {{ topicsDubtsPlattform[ numberPlattaformDoubts - 1 ].date | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX" }}</small>
            </td>
          </tr>
        </tbody>
      </table>


      <table *ngIf="categories" class="table table-bordered">
        <thead class="background-black" style="color:#fff;">
          <tr>
            <th scope="col" colspan="3"><h5>Programas personalizados <span class="badge badge-pill badge-info">Usuarios Premium</span></h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark text-center">
            <td class=""><h5>Categorías</h5></td>
            <td class=""><h5>Temas</h5></td>
            <td class=""><h5>Última discusión</h5></td>
          </tr>
          <!-- Transformaciones -->
          <tr>
            <td scope="row">
              <h6 *ngIf="!isAuttenticated()" class="align-middle"><a class="enlace-foro" [routerLink]="['category', categories[2].ref ]">{{ categories[2].name }}</a></h6>
              <h6 *ngIf="isAuttenticated()" class="align-middle">{{ categories[2].name }}</h6>
              <small>Muestra tu transformación a la comunidad e inspira a los demás</small>
            </td>
            <td class="text-center align-middle">{{ numberTransformations }}</td>
            <td>
              <h6><a [routerLink]="['category', categories[2].ref, 'topic', topicsTransformations[ numberTransformations - 1 ]._id ]">{{ topicsTransformations[ numberTransformations - 1 ].title }}</a></h6>
              <small>Por: <strong>{{ topicsTransformations[ numberTransformations - 1 ].author }}</strong> el {{ topicsTransformations[ numberTransformations - 1 ].date  | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX"  }}</small>
            </td>
          </tr>
          <!-- Dudas Programa Ejercicio -->
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" [routerLink]="['category', categories[3].ref ]">{{ categories[3].name }}</a></h6>
              <small>¿Tienes alguna duda con tu programa de ejercicio? Este es el lugar.</small>
            </td>
            <td class="text-center align-middle">{{ numberExercisesDoubts }}</td>
            <td>
              <h6><a [routerLink]="['category', categories[3].ref, 'topic', topicsExercise[ numberExercisesDoubts - 1 ]._id ]">{{ topicsExercise[ numberExercisesDoubts - 1 ].title }}</a></h6>
              <small>Por: <strong>{{ topicsExercise[ numberExercisesDoubts - 1 ].author }}</strong> el {{ topicsExercise[ numberExercisesDoubts - 1 ].date  | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX"  }}</small>
            </td>
          </tr>
          <!-- Dudas Programa Alimentación -->
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" [routerLink]="['category', categories[4].ref ]">{{ categories[4].name }}</a></h6>
              <small>Expon aquí cualquier duda o inquietud relacionada a tu plan alimenticio.</small>
            </td>
            <td class="text-center align-middle">{{ numberAlimentationDoubts }}</td>
            <td>
              <h6><a [routerLink]="['category', categories[4].ref, 'topic', topicsAlimentation[ numberAlimentationDoubts - 1 ]._id ]">{{ topicsAlimentation[ numberPlattaformDoubts - 1 ].title }}</a></h6>
              <small>Por: <strong>{{ topicsAlimentation[ numberAlimentationDoubts - 1 ].author }}</strong> el {{ topicsAlimentation[ numberAlimentationDoubts - 1 ].date  | date:" 'el' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX"  }}</small>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<div class="py-3"></div>
