<div class="py-3"></div>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-2 col-md-2 col col-sm-12 col-xs-12">

      <div class="card" >
        <div class="card-header">
          <h5 class="card-title">Navegación</h5>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><h6><a class="enlace-foro text-capitalize" href="#">presentaciones</a></h6></li>
            <li><h6><a class="enlace-foro text-capitalize" href="#">Dudas Con el sitio</a></h6></li>
            <li><h6><a class="enlace-foro text-capitalize" href="#">Dudas con tu programa</a></h6></li>
            <li><h6><a class="enlace-foro text-capitalize" href="#">Discusiones privadas</a></h6></li>
            <li><h6><a class="enlace-foro text-capitalize" href="#">Transformaciones</a></h6></li>
          </ul>
        </div>
      </div>

    </div>

<div class="py-3"></div>

    <div class="col-lg-10 col-md-10 col sm-12 col-xs-12">

      <table class="table table-bordered">
        <thead class="background-black" style="color:#fff;">
          <tr>
            <th scope="col" colspan="4"><h5>Bienvenida nuevos usuarios</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark text-center">
            <td class="bg-red"><h5>Categorías</h5></td>
            <td class="bg-red"><h5>Hilos</h5></td>
            <td class="bg-red"><h5>Comentarios</h5></td>
            <td class="bg-red"><h5>Última discusión</h5></td>
          </tr>
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" href="#">¿Eres nuevo? Preséntate aquí</a></h6>
              <small>Bienvenidas y presentaciones</small>
            </td>
            <td class="text-center align-middle">10</td>
            <td class="text-center align-middle">30</td>
            <td>
              <h6><a class="enlace-foro" href="#">Hola a todos, me presento</a></h6>
              <small>Luis Sosa el 10 de Enero de 2018</small>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <h6><a class="enlace-foro" href="#">Dudas Del sitio</a></h6>
              <small>Cualquier duda relacionada al funcionamiento del sitio</small>
            </td>
            <td class="text-center align-middle">15</td>
            <td class="text-center align-middle">150</td>
            <td>
              <h6><a class="enlace-foro" href="#">Formas de Pago</a></h6>
              <small>Juan Pérez el 05 Enero de 2018</small>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="table table-bordered">
        <thead class="background-black" style="color:#fff;">
          <tr>
            <th scope="col" colspan="4"><h5>Programas personalizados <span class="badge badge-pill badge-red">Usuarios Premium</span></h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark text-center">
            <td class="bg-red"><h5>Categorías</h5></td>
            <td class="bg-red"><h5>Hilos</h5></td>
            <td class="bg-red"><h5>Comentarios</h5></td>
            <td class="bg-red"><h5>Última discusión</h5></td>
          </tr>
          <tr>
            <td scope="row">
              <h6 class="align-middle"><a class="enlace-foro" href="#">Dudas o comentarios con tu programa</a></h6>
              <small>Bienvenidas y presentaciones</small>
            </td>
            <td class="text-center align-middle">10</td>
            <td class="text-center align-middle">30</td>
            <td>
              <h6>Hola a todos, me presento</h6>
              <small>Luis Sosa el 10 de Enero de 2018</small>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <h6><a class="enlace-foro" href="#">Discusiones privadas</a></h6>
              <small>Cualquier duda relacionada al funcionamiento del sitio</small>
            </td>
            <td class="text-center align-middle">15</td>
            <td class="text-center align-middle">150</td>
            <td>
              <h6>Formas de Pago</h6>
              <small>Juan Pérez el 05 Enero de 2018</small>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <h6><a class="enlace-foro" href="#">Transformaciones</a></h6>
              <small>Muestra tu transformación a la comunidad e inspira a los demás</small>
            </td>
            <td class="text-center align-middle">50</td>
            <td class="text-center align-middle">500</td>
            <td>
              <h6>Formas de Pago</h6>
              <small>Juan Pérez el 05 Enero de 2018</small>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<div class="py-3"></div>
