<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Categoría <b class="underlined">{{ category }}&emsp;&emsp;</b></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/forum']">Foro</a></li>
          <li class="breadcrumb-item" aria-current="page"><a [routerLink]="[ '/forum', 'category', ref ]">{{ category }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
        </ol>
      </nav>

      <div class="card">
        <form #formComment="ngForm">
        <div class="card-header">
          <h6>{{ topic.title }}</h6>
          <small>Por <strong>{{ topic.author }}</strong> el {{ topic.date | date:" 'El' dd 'de' LLLL 'del' yyyy 'a las' h:mma":"es-MX" }}</small>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ topic.title }}</h5>
          <hr>
          <p class="card-text">{{ topic.text }}</p>
        </div>

        <div class="card-body ngfor-aqui">
          <hr>
          <h3>Respuestas</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nihil excepturi incidunt ex, sapiente perferendis perspiciatis, quibusdam maxime deserunt, tenetur temporibus quidem esse impedit in cumque commodi rerum porro vel!</p>
        </div>

        <hr *ngIf="response" class="shadow-sm">

        <div *ngIf="response" class="card-body">
            <div class="form-group">
              <label><h5>Respuesta:</h5></label>
              <textarea class="form-control" name="text" rows="3" ngModel required></textarea>
            </div>
        </div>



        <div *ngIf="!response" class="card-footer bg-transparent text-right">
          <button type="button" (click)="response = !response" class="btn btn-success py-2">Responder <i class="far fa-comments"></i></button>
        </div>

        <div *ngIf="response" class="card-footer bg-transparent text-right">
          <button type="button" (click)="response = !response" class="btn btn-danger py-2">Cancelar <i class="fas fa-ban"></i></button>
          <button type="button" (click)="commentRegister(formComment)" [disabled]="!formComment.valid" class="btn btn-info py-2">Guardar <i class="far fa-comments"></i></button>
        </div>

      </form>
      </div>

    </div>
  </div>
</div>
