<div class="py-3"></div>

<div class="container">

  <div class="row py-3">
    <div class="col-12">
      <h4>Deja tu pregunta <small class="text-muted">Haz tu pregunta relacionada a acondicionamiento, nutrición, cargas, ejercicios o lo que quieras. (solo los miembros registrados pueden guardar preguntas.)</small></h4>

      <div class="py-1"></div>

      <form #formQuestion="ngForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control" id="question-name" name="name" placeholder="Gabriel García" ngModel>
          </div>
          <div class="form-group col-md-8">
            <label for="inputPassword4">Email <small class="text-muted">(No lo compartirémos con nadie)</small></label>
            <input type="email" class="form-control" id="question-email" name="email" placeholder="ejemplo@mail.com" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Pregunta</label>
          <input type="text" class="form-control" id="question" name="question" placeholder="¿Cómo puedo aliviar la fatiga muscular?" ngModel>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea
          class="form-control"
          id="question-description"
          name="text"
          rows="3"
          placeholder="Todos los días termino con los músculos muy fatigados y me gustaría saber cómo puedo aliviar esa sensación."
          ngModel></textarea>
        </div>
        <button class="btn btn-success btn-primary py-2" (click)="questionRegister(formQuestion)" [disabled]="!formPayments?.valid">Enviar pregunta</button>
      </form>

      <div *ngIf="saveSucess" class="alert alert-success alert-dismissible fade show my-3" role="alert">
        <strong>Registro exitoso:</strong> Tu pregunta quedó registrada, si es elegida para respuesta te lo comunicarémos en un correo electrónico a la dirección proporcionada.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <h3 class="pt-3">Preguntas de los miembros</h3>

    <div class="col-12">

      <div *ngFor="let question of questions" class="card my-3">
        <h5 class="card-header">Usuario: {{ question.name }} | {{ question.question }}</h5>
        <div class="card-body">
          <h5 class="card-title">Detalle:</h5>
          <p class="card-text">{{ question.text }}</p>
          <hr>
          <h5 class="card-title">Respuesta:</h5>
          <p class="card-text">{{ question.answer }}</p>
        </div>
      </div>

    </div>

  </div>

</div>
