<div class="py-3"></div>

<div class="container">

  <div class="row bg-panal py-3">
    <div class="col-12">
      <h4>Deja tu pregunta <small class="text-muted">Haz tu pregunta relacionada a acondicionamiento, nutrición, cargas, ejercicios o lo que quieras. (solo pueden guardar preguntas los miembros registrados)</small></h4>

      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Título de la Pregunta</label>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>
          <label for="exampleFormControlTextarea2">Descripción</label>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-success btn-primary">Enviar pregunta</button>
        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <h3 class="pt-3">Preguntas de los miembros</h3>
    <div class="col-12">

      <div class="card my-3">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card my-3">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>

</div>
