<!-- <div class="row"> -->
    <nav class="navbar sticky-bottom navbar-light bg-black">

        <span class="navbar-text">
          <img src="https://cdn.ethnews.com/images/content/ethnews-app-three-phones-10-12-2017.png" alt="" style="max-width:90%">
        </span>

        <span class="navbar-text" >
          <div class="card border-danger mb-3" style="width: 20rem;">
            <div class="card-header"><h4>Secciones</h4></div>
            <div class="card-body text-danger">
              <ul class="list-unstyled">
                <li><a href="#"><h6>Videos</h6></a></li>
                <li><a href="#"><h6>Blog</h6></a></li>
                <li><a href="#"><h6>Foro</h6></a></li>
                <li><a href="#"><h6>Retos</h6></a></li>
              </ul>
            </div>
          </div>
        </span>

        <span class="navbar-text" >
          <div class="card border-danger mb-3" style="width: 20rem;">
            <div class="card-header"><h4>Legal</h4></div>
            <div class="card-body text-danger">
              <ul class="list-unstyled">
                <li><a href="#"><h6>Aviso de Privacidad</h6></a></li>
                <li><a href="#"><h6>Términos y Condiciones</h6></a></li>
                <li><a href="#"><h6>Políticas del Sitio</h6></a></li>
              </ul>
            </div>
          </div>
        </span>

        <span>
          <img src="http://212.89.28.5/EXT43005715/IMAGENES/WWWFPGO0000100100147.PNG" alt="">
        </span>


    </nav>


<!-- </div> -->
