<div class="container-fluid my-3">
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center pb-5">
      <img src="assets/img/logo.png" alt="" style="max-width: 15rem;">
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card border-light mb-3" style="width: 20rem;">
        <div class="text-left text-uppercase"><h4><strong>Secciones</strong></h4></div>
        <div class="card-body">
          <ul class="list-unstyled text-left text-uppercase pl-1">
            <li><a class="black-font" [routerLink]="[ '/our-system' ]"><h4>Nuestro Sistema</h4></a></li>
            <li><a class="black-font" [routerLink]="[ '/blog' ]"><h4>Blog</h4></a></li>
            <li><a class="black-font" [routerLink]="[ '/videos' ]"><h4>Videos</h4></a></li>
            <li><a class="black-font" [routerLink]="[ '/ask' ]"><h4>Dudas</h4></a></li>
            <li><a class="black-font" [routerLink]="[ '/forum' ]"><h4>Foro</h4></a></li>
            <li><a class="black-font" [routerLink]="[ '/challenge' ]"><h4>Retos</h4></a></li>
            <li *ngIf="_auth.isAuthenticated()"><a [routerLink]="[ '/training' ]"><h4>Mi Entrenamiento</h4></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
      <div class="card border-light mb-3" style="width: 20rem;">
        <div class="text-left text-uppercase pl-1"><h4><strong>Legal</strong></h4></div>
        <div class="card-body text-danger">
          <ul class="list-unstyled text-left text-uppercase">
            <li><a class="black-font" href="#"><strong><h4>Aviso de Privacidad</h4></strong></a></li>
            <li><a class="black-font" href="#"><strong><h4>Términos y Condiciones</h4></strong></a></li>
            <li><a class="black-font" href="#"><strong><h4>Políticas del Sitio</h4></strong></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center pt-5">
      <img src="http://212.89.28.5/EXT43005715/IMAGENES/WWWFPGO0000100100147.PNG" alt="">
    </div>

  </div>
</div>
