<div class="container-fluid my-3">
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <img src="assets/img/logo.png" alt="" style="max-width: 15rem;">
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card border-ligth mb-3" style="width: 20rem;">
        <div class="card-header"><h4>Secciones</h4></div>
        <div class="card-body text-danger">
          <ul class="list-unstyled">
            <li><a [routerLink]="[ '/videos' ]"><h6>Videos</h6></a></li>
            <li><a [routerLink]="[ '/blog' ]"><h6>Blog</h6></a></li>
            <li><a [routerLink]="[ '/ask' ]"><h6>Dudas</h6></a></li>
            <li><a [routerLink]="[ '/forum' ]"><h6>Foro</h6></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="card border-ligth mb-3" style="width: 20rem;">
        <div class="card-header"><h4>Legal</h4></div>
        <div class="card-body text-danger">
          <ul class="list-unstyled">
            <li><a href="#"><h6>Aviso de Privacidad</h6></a></li>
            <li><a href="#"><h6>Términos y Condiciones</h6></a></li>
            <li><a href="#"><h6>Políticas del Sitio</h6></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <img src="http://212.89.28.5/EXT43005715/IMAGENES/WWWFPGO0000100100147.PNG" alt="">
    </div>

  </div>
</div>
