
<div class="py-3"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12">
      <h1 class="display-1 text-center">Join us!</h1>

      <blockquote class="blockquote text-center background-black white-font py-5 px-5">
        <p class="mb-0">No puedes poner un límite a nada. Cuanto más sueñas, más lejos llegas.</p>
        <footer class="blockquote-footer">Michael Phelps</footer>
        <!-- <footer class="blockquote-footer">Michael Phelps<cite title="Source Title">Source Title</cite></footer> -->
      </blockquote>

    </div>
  </div>
</div>
