<div class="py-2"></div>

<h5>Esto trae inquest flag</h5>
<pre>{{ this.user.completedInquestFlag }}</pre>

<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Cuestionario <b class="underlined">Inicial&emsp;&emsp;</b></h4>
      <h4 class="text-center text-uppercase"><small>Es muy importante que lo respondas completo</small></h4>
    </div>
  </div>
</div>

<div *ngIf="this.user.completedInquestFlag" class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="py-3">Anuncio:</h4>
      <p class="text-justify">Nuestra plataforma registra que ya finalizaste de responder la encuesta inicial, sin embargo si necesitas actualizar un dato presiona el siguiente botón, es muy importante que sepas que si haces eso, tendrás que responder todo el cuestionario de nuevo ¿Por qué? Muy sencillo, el plan personalizado se basa en todas y cada una de tus respuestas, si cambias alguna, es probable que eso influya en tu plan, solo recomendamos actualizar el cuestionario en estos casos:</p>
      <ul class="text-left text-uppercase">
        <li><strong><h6>Terminé mi plan de 40 días y mis medidas cambiaron.</h6></strong></li>
        <li><strong><h6>Quiero cambiar mi alimentación por una más sana.</h6></strong></li>
        <li><strong><h6>No tenía plan de alimentación y he adquirido uno.</h6></strong></li>
      </ul>

      <p>Si tu caso es uno de la lista, por favor, procede a actualizar tus datos llenando nuevamente el formulario:</p>

      <button (click)="updateUserData(  )" type="button" class="btn btn-primary btn-lg">Actualizar mis datos</button>

    </div>
  </div>
</div>

<div *ngIf="!this.user.completedInquestFlag" class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <p class="text-justify py-3">El cuestionario abarca 5 rubros de preguntas: <strong>Alimenticios, Antropométricos, Bioquímicos, Clínicos, dietéticos</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint saepe, dolores quia perferendis totam dolorum nam, eligendi, debitis architecto cumque repellat, odio est doloribus accusamus. Eum laudantium minus inventore at!</p>
      <div class="py-2"></div>

      <!-- TABs -->
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active enlace-foro" id="generals-tab" data-toggle="tab" href="#generales" role="tab" aria-controls="home" aria-selected="true"><h6>Generales</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="aliment-tab" data-toggle="tab" href="#antecedentes" role="tab" aria-controls="home" aria-selected="false"><h6>Antecedentes</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="antropo-tab" data-toggle="tab" href="#antropometricos" role="tab" aria-controls="profile" aria-selected="false"><h6>Antropométricos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="bioquim-tab" data-toggle="tab" href="#bioquimicos" role="tab" aria-controls="contact" aria-selected="false"><h6>Bioquímicos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="clinic-tab" data-toggle="tab" href="#clinicos" role="tab" aria-controls="contact" aria-selected="false"><h6>Clínicos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="diet-tab" data-toggle="tab" href="#dieteticos" role="tab" aria-controls="contact" aria-selected="false"><h6>Dietéticos</h6></a>
        </li>
      </ul>
      <!-- End TABs -->

      <div class="tab-content" id="myTabContent">

        <!-- Tab << Generales Inicial (método save) >> -->
        <div *ngIf="!this.updateFlag" class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="home-tab">
          <form class="py-3 col-6 offset-3" #formGenerales="ngForm">
            <div class="form-group">
              <label><h6><strong>Nombre de Usuario <small class="text-muted">Cómo te gustaría que te llamémos.</small></strong></h6></label>
              <input type="text" class="form-control" placeholder="Nombre de usuario" name="userName" #userName="ngModel" ngModel required>
            </div>
            <div class="form-group">
              <label><h6><strong>Edad</strong></h6></label>
              <input type="text" class="form-control" placeholder="25" name="age" pattern="[0-9]{2,3}$" #age="ngModel" ngModel required>
            </div>

            <div class="form-group pt-3" *ngIf="formGenerales">
              <button [disabled]="!formGenerales.valid" (click)="saveDataGenerales( formGenerales )" class="btn btn-info px-5">Seguir a Alimenticios (2 de 6)</button>
            </div>

            <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>

          </form>
        </div>

        <!-- Tab << Generales Emergente (método update) >>  && this.user.completedInquestFlag  == 'false'  -->
        <div *ngIf="this.updateFlag" class="tab-pane fade show active" id="generalesU" role="tabpanel" aria-labelledby="home-tab">
          <form class="py-3 col-6 offset-3" #formGeneralesU="ngForm">
            <div class="form-group">
              <label><h6><strong>Nombre de Usuario <small class="text-muted">Cómo te gustaría que te llamémos.</small></strong></h6></label>
              <input type="text" class="form-control" placeholder="Nombre de usuario" name="userNameU" #userNameU="ngModel" ngModel required>
            </div>
            <div class="form-group">
              <label><h6><strong>Edad</strong></h6></label>
              <input type="text" class="form-control" placeholder="25" name="ageU" pattern="[0-9]{2,3}$" #ageU="ngModel" ngModel required>
            </div>

            <div class="form-group pt-3" *ngIf="formGeneralesU">
              <button [disabled]="!formGeneralesU.valid" (click)="updateDataGenerales( formGeneralesU )" class="btn btn-info px-5">Seguir a Alimenticios (2 de 6)</button>
            </div>
            <div class="form-group pt-3" *ngIf="this.user.inquest.dietetics.completedFlag && this.user.inquest.clinical.completedFlag && !this.user.completedInquestFlag">
              <button (click)="this.user.completedInquestFlag = !this.user.completedInquestFlag" class="btn btn-danger">Cancelar Actualización de datos</button>
            </div>

            <div *ngIf="ageU.dirty && ageU.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>

          </form>
        </div>

        <!-- Tab << Antecedentes >> -->
        <div class="tab-pane fade show" id="antecedentes" role="tabpanel" aria-labelledby="home-tab">
          <form #formAntecedentes="ngForm">

            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3"><strong>¿Cuál es la frecuencia con la que haces ejercicio a la semana? <small>(en días)</small></strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta1opcion1" name="antecedentesPregunta1" class="custom-control-input" value="A" ngModel required #antecedentesPregunta1="ngModel" >
                <label class="custom-control-label" for="antecedentesPregunta1opcion1">a)	Ningún día</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta1opcion2" name="antecedentesPregunta1" class="custom-control-input" value="B" ngModel required #antecedentesPregunta1="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta1opcion2">b) Entre 1 y 3 días</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta1opcion3" name="antecedentesPregunta1" class="custom-control-input" value="C" ngModel required #antecedentesPregunta1="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta1opcion3">c) Entre 3 y 5 días</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta1opcion4" name="antecedentesPregunta1" class="custom-control-input" value="D" ngModel required #antecedentesPregunta1="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta1opcion4">d) Toda la semana</label>
              </div>
            </div>

            <!-- Cuestion 2 -->
            <h6 *ngIf="antecedentesPregunta1.value != 'A' " class="pt-3 pl-3"><strong>¿Con qué intensidad realiza esta actividad?</strong></h6>
            <div *ngIf="antecedentesPregunta1.value != 'A' " class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta2opcion1" name="antecedentesPregunta2" class="custom-control-input" value="A" ngModel #antecedentesPregunta2="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta2opcion1">a)	Muy baja</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta2opcion2" name="antecedentesPregunta2" class="custom-control-input" value="B" ngModel #antecedentesPregunta2="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta2opcion2">b) baja</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta2opcion3" name="antecedentesPregunta2" class="custom-control-input" value="C" ngModel #antecedentesPregunta2="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta2opcion3">c) moderada</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta2opcion4" name="antecedentesPregunta2" class="custom-control-input" value="D" ngModel #antecedentesPregunta2="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta2opcion4">d) intensa</label>
              </div>
            </div>

            <!-- Cuestion 3 -->
            <h6 *ngIf="antecedentesPregunta1.value != 'A' " class="pt-3 pl-3"><strong>¿Qué tipo de ejercicio hace? <small>(trote, ejercicios como sentadillas, lagartijas, etc.)</small></strong></h6>
            <div *ngIf="antecedentesPregunta1.value != 'A' " class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta3opcion1" name="antecedentesPregunta3" class="custom-control-input" value="A" ngModel #antecedentesPregunta3="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta3opcion1">a)	Trote</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta3opcion2" name="antecedentesPregunta3" class="custom-control-input" value="B" ngModel #antecedentesPregunta3="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta3opcion2">b) lagartijas, sentadillas, etc.</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta3opcion3" name="antecedentesPregunta3" class="custom-control-input" value="C" ngModel #antecedentesPregunta3="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta3opcion3">c) pesas</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta3opcion4" name="antecedentesPregunta3" class="custom-control-input" value="D" ngModel #antecedentesPregunta3="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta3opcion4">d) algún deporte tal como natación, futbol, etc.</label>
              </div>
            </div>

            <!-- Cuestion 4 -->
            <h6 *ngIf="antecedentesPregunta1.value != 'A' " class="pt-3 pl-3"><strong>¿Qué duración por sesión le dedica al ejercicio? <small>(en minutos)</small></strong></h6>
            <div *ngIf="antecedentesPregunta1.value != 'A' " class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta4opcion1" name="antecedentesPregunta4" class="custom-control-input" value="A" ngModel #antecedentesPregunta4="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta4opcion1">a)	30 minutos</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta4opcion2" name="antecedentesPregunta4" class="custom-control-input" value="B" ngModel #antecedentesPregunta4="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta4opcion2">b) 1 hora</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta4opcion3" name="antecedentesPregunta4" class="custom-control-input" value="C" ngModel #antecedentesPregunta4="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta4opcion3">c) 2 horas o más</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta4opcion4" name="antecedentesPregunta4" class="custom-control-input" value="D" ngModel #antecedentesPregunta4="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta4opcion4">d) menos de 30 minutos</label>
              </div>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-3 pl-3"><strong>¿Cuándo fue la última vez que participaste en un programa de ejercicio regular?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta5opcion1" name="antecedentesPregunta5" class="custom-control-input" value="A" ngModel required #antecedentesPregunta5="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta5opcion1">a)	Hace menos de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta5opcion2" name="antecedentesPregunta5" class="custom-control-input" value="B" ngModel required #antecedentesPregunta5="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta5opcion2">b) más de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta5opcion3" name="antecedentesPregunta5" class="custom-control-input" value="C" ngModel required #antecedentesPregunta5="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta5opcion3">c) más de 3 meses</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta5opcion4" name="antecedentesPregunta5" class="custom-control-input" value="D" ngModel required #antecedentesPregunta5="ngModel">
                <label class="custom-control-label" for="antecedentesPregunta5opcion4">d) más de 6 meses</label>
              </div>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-3 pl-3"><strong>¿Cuál es el lugar en el que puede realizar ejercicio? <small>(Seleccione todas las opciones de acuerdo a sus posibilidades)</small></strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta6opcion1" name="antecedentesPregunta6A" #antecedentesPregunta6A="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta6opcion1">a)	Parques</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta6opcion2" name="antecedentesPregunta6B" #antecedentesPregunta6B="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta6opcion2">b) albercas</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta6opcion3" name="antecedentesPregunta6C" #antecedentesPregunta6C="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta6opcion3">c) gimnasio de pesas</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta6opcion4" name="antecedentesPregunta6D" #antecedentesPregunta6D="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta6opcion4">d) pista de atletismo</label>
              </div>
            </div>

            <!-- Cuestion 7 -->
            <h6 class="pt-3 pl-3"><strong>¿Qué le gustaría incluir en su programa? <small>(Seleccione todas las opciones que le gustaría incluir)</small></strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta7opcion1" name="antecedentesPregunta7A" #antecedentesPregunta7A="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta7opcion1">a)	Plan de ejercicios</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta7opcion2" name="antecedentesPregunta7B" #antecedentesPregunta7B="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta7opcion2">b) Dieta</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta7opcion3" name="antecedentesPregunta7C" #antecedentesPregunta7C="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta7opcion3">c) Suplementos</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="antecedentesPregunta7opcion4" name="antecedentesPregunta7D" #antecedentesPregunta7D="ngModel"  ngModel>
                <label class="custom-control-label pr-3" for="antecedentesPregunta7opcion4">d) otro</label>
                <!-- <div *ngIf="antecedentesPregunta8opcion4 == 'true'"> <small>Por favor especifique cuál:</small> Esto aparece si marco la casilla otro</div> -->
              </div>
            </div>

            <!-- Cuestion 8 -->
            <h6 class="pt-3 pl-3"><strong>¿Cuál es su principal objetivo al integrarse a un programa de ejercicio?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta8opcion1" name="antecedentesPregunta8" class="custom-control-input" value="A" required #antecedentesPregunta8="ngModel"  ngModel>
                <label class="custom-control-label" for="antecedentesPregunta8opcion1">a)	Eliminar grasa</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta8opcion2" name="antecedentesPregunta8" class="custom-control-input" value="B" required #antecedentesPregunta8="ngModel"  ngModel>
                <label class="custom-control-label" for="antecedentesPregunta8opcion2">b) ganar masa muscular</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta8opcion3" name="antecedentesPregunta8" class="custom-control-input" value="C" required #antecedentesPregunta8="ngModel"  ngModel>
                <label class="custom-control-label" for="antecedentesPregunta8opcion3">c) mejorar mi condición física</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta8opcion4" name="antecedentesPregunta8" class="custom-control-input" value="D" required #antecedentesPregunta8="ngModel"  ngModel>
                <label class="custom-control-label" for="antecedentesPregunta8opcion4">d) realizar actividad física para mi salud</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="antecedentesPregunta8opcion5" name="antecedentesPregunta8" class="custom-control-input" value="Transformar mi apariencia" required #antecedentesPregunta8="ngModel"  ngModel>
                <label class="custom-control-label" for="antecedentesPregunta8opcion5">e) Transformar mi apariencia</label>
              </div>
            </div>

            <!-- Alert -->
            <div *ngIf="!formAntecedentes.valid" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Alerta de error:</strong> Favor de responder todas las preguntas.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Button -->
            <div (click)="saveDataAntecedentes( formAntecedentes )" class="form-group row pt-3" *ngIf="formAntecedentes">
              <button [disabled]="!formAntecedentes.valid" class="btn btn-info px-5">Seguir a Antropométricos (3 de 6)</button>
            </div>

          </form>
        </div>

        <!-- Tab << Antropométricos >> -->
        <div class="tab-pane fade show" id="antropometricos" role="tabpanel" aria-labelledby="profile-tab">

          <form #formAntropometricos="ngForm" >

            <!-- Cuestion 1 -->
            <div class="form-group">
              <h6 class="pt-4 pl-3"><strong>Talla en metros. <small>Por ejemplo: 1.74</small></strong></h6>
              <input type="text" class="form-control" name="height" placeholder="P.ej. 1.74" pattern="^[0-9.,]{1,5}$" #height="ngModel" ngModel required>
            </div>

            <!-- Cuestion 2 -->
            <div class="form-group">
              <h6 class="pt-3 pl-3"><strong>Peso en Kilogramos. <small>Por ejemplo: 75.7</small></strong></h6>
              <input type="text" class="form-control" name="weight" placeholder="P.ej. 75.2" pattern="^[0-9.,]{1,5}$" #weight="ngModel" ngModel required>
            </div>

            <!-- Cuestion 3 -->
            <div class="form-group">
            <h6 class="pt-3 pl-3"><strong>Porcentaje de grasa. <small>(Aplica en caso de poder realizarlo, no es un dato vital pero es muy importante conocer el porcentaje de grasa y de músculo ya que el peso a veces no nos dice la realidad de nuestra apariencia ni nuestros objetivos)</small></strong></h6>
            <input type="text" class="form-control" name="fatPercent" placeholder="32" pattern="^[0-9.,]{1,5}$" #fatPercent="ngModel" ngModel>
          </div>

            <!-- Button -->
            <div class="form-group pt-3" *ngIf="formAntropometricos">
              <button [disabled]="!formAntropometricos.valid" (click)="saveDataAntropometricos( formAntropometricos )" class="btn btn-info px-5">Seguir a Bioquímicos (4 de 6)</button>
            </div>

          </form>
        </div>

        <!-- Tab << Bioquímicos >> -->
        <div class="tab-pane fade show" id="bioquimicos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formBioquimicos="ngForm" >

            <h6 class="pt-4 pl-3"><strong>En caso de poder realizar un análisis de laboratorio, nos brindaría mucha mayor información para realizar su plan alimenticio y de ejercicio.</strong></h6>

              <div class="custom-control custom-radio my-3">
                <input type="radio" id="bioquimico1" class="custom-control-input py-2" name="bioquimicosPregunta1" value="No cuenta con análisis" #bioquimicosOpcion1="ngModel" ngModel>
                <label class="custom-control-label" for="bioquimico1"><strong>No</strong> cuento con un análisis de Laboratorio.</label>
              </div>
              <div class="custom-control custom-radio my-3">
                <input type="radio" id="bioquimico2" class="custom-control-input py-2" name="bioquimicosPregunta1" value="Si" #bioquimicosOpcion1="ngModel" ngOnInit="false" ngModel>
                <label class="custom-control-label" for="bioquimico2"><strong>Sí</strong> cuento con un análisis de Laboratorio.</label>
              </div>

              <div class="py-4" *ngIf="bioquimicosOpcion1.value == 'Si' " > <small>Si cuentas con una copia, favor de subirla en cualquiera de los siguientes formatos: PDF, JPG, PNG</small>

                <div class="form-group">
                  <input (change)="selectFile($event.target.files[0])" type="file" class="form-control-file" id="exampleFormControlFile1" name="attached" accept=".jpg, .jpeg, .png, .pdf" #attached=ngModel ngModel>
                </div>

              </div>

              <div class="form-group pt-3" *ngIf="formBioquimicos">
                <button [disabled]="!formBioquimicos.valid" (click)="saveDataBioquimicos( formBioquimicos )" class="btn btn-info px-5">Seguir a Clínicos (5 de 6)</button>
              </div>

          </form>

        </div>

        <!-- Tab << Clínicos >> -->
        <div class="tab-pane fade show" id="clinicos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formClinicos="ngForm" >
            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3"><strong>Cuenta con antecedentes familiares de enfermedades crónicas degenerativas tales como; diabetes, hipertensión, cardiopatías, cáncer, etcétera.</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta1Opcion1" name="clinicosPregunta1" class="custom-control-input" value="No" #clinicosPregunta1="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta1Opcion1">No</label>
              </div>
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta1Opcion2" name="clinicosPregunta1" class="custom-control-input" value="Si" #clinicosPregunta1="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta1Opcion2">Sí</label>
              </div>
            </div>
            <div *ngIf="clinicosPregunta1.value == 'Si' " class="form-group">
              <label for="exampleFormControlTextarea1">Por favor, describe los antecedentes de enfermedades familiares que tengas.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="clinicosPregunta1Desc" rows="2" #clinicosPregunta1Desc="ngModel" ngModel></textarea>
            </div>

            <!-- Cuestion 2 -->
            <h6 class="pt-4 pl-3"><strong>Sufres alguna de estas enfermedades: Diabetes, hipertensión, cardiopatías, artritis, cáncer.</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta2Opcion1" name="clinicosPregunta2" class="custom-control-input" value="No" #clinicosPregunta2="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta2Opcion1">No</label>
              </div>
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta2Opcion2" name="clinicosPregunta2" class="custom-control-input" value="Si" #clinicosPregunta2="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta2Opcion2">Sí</label>
              </div>
            </div>
            <div *ngIf="clinicosPregunta2.value == 'Si' " class="form-group">
              <label for="exampleFormControlTextarea1">Por favor, describe la enfermedad que actualmente padeces.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="clinicosPregunta2Desc" rows="2" #clinicosPregunta2Desc="ngModel" ngModel></textarea>
            </div>

            <!-- Cuestion 3 -->
            <h6 class="pt-4 pl-3"><strong>Padeces de alguna alergia, intolerancia o aversión alimenticia <small>(algún alimento que no soportes comer)</small></strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta3Opcion1" name="clinicosPregunta3" class="custom-control-input" value="No" #clinicosPregunta3="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta3Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta3Opcion2" name="clinicosPregunta3" class="custom-control-input" value="Si" #clinicosPregunta3="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta3Opcion2">Sí</label>
              </div>
            </div>
            <div *ngIf="clinicosPregunta3.value == 'Si' " class="form-group">
              <label for="exampleFormControlTextarea1">Por favor, describe qué alimentos no puedes o no te gusta comer.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="clinicosPregunta3Desc" rows="2" #clinicosPregunta3Desc="ngModel" ngModel></textarea>
            </div>

            <!-- Cuestion 4 -->
            <h6 class="pt-4 pl-3"><strong>¿Actualmente usas algún fármaco?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta4Opcion1" name="clinicosPregunta4" class="custom-control-input" value="No" #clinicosPregunta4="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta4Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta4Opcion2" name="clinicosPregunta4" class="custom-control-input" value="Si" #clinicosPregunta4="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta4Opcion2">Sí</label>
              </div>
            </div>
            <div *ngIf="clinicosPregunta4.value == 'Si' " class="form-group">
              <label for="exampleFormControlTextarea1">Por favor, describe el fármaco que usas actualmente y a ser posible; por qué lo usas.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="clinicosPregunta4Desc" rows="2" #clinicosPregunta4Desc="ngModel" ngModel></textarea>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-4 pl-3"><strong>Actualmente usas algún suplemento alimenticio</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta5Opcion1" name="clinicosPregunta5" class="custom-control-input" value="No" #clinicosPregunta5="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta5Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio px-3">
                <input type="radio" id="clinicosPregunta5Opcion2" name="clinicosPregunta5" class="custom-control-input" value="Si" #clinicosPregunta5="ngModel" ngModel required>
                <label class="custom-control-label px-3" for="clinicosPregunta5Opcion2">Sí</label>
              </div>
            </div>
            <div *ngIf="clinicosPregunta5.value == 'Si' " class="form-group">
              <label for="exampleFormControlTextarea1">Por favor, describe qué suplemento alimenticio usas y con qué objetivo.</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="clinicosPregunta5Desc" rows="2" #clinicosPregunta5Desc="ngModel" ngModel></textarea>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-4 pl-3"><strong>¿Cuántas horas duermes al día?</strong></h6>
            <div class="form-group row">
              <div class="form-group">
                <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
                <input type="text" class="form-control" placeholder="8 horas" name="clinicosPregunta6"  #clinicosPregunta6="ngModel" ngModel required>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group pt-3" >
              <button [disabled]="!formClinicos.valid" (click)="saveDataClinicos( formClinicos )" class="btn btn-info px-5">Seguir a Dietéticos (6 de 6)</button>
            </div>

          </form>

        </div>

        <!-- Tab << Dietéticos >> -->
        <div class="tab-pane fade show" id="dieteticos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formDietetico="ngForm" >
            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3"><strong>¿Cuántas comidas hace al día?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta1opcion1" name="dieteticosPregunta1" class="custom-control-input" value="A" #dieteticosPregunta1="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta1opcion1">a)	2</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta1opcion2" name="dieteticosPregunta1" class="custom-control-input" value="B" #dieteticosPregunta1="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta1opcion2">b) 3</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta1opcion3" name="dieteticosPregunta1" class="custom-control-input" value="C" #dieteticosPregunta1="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta1opcion3">c) 4</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta1opcion4" name="dieteticosPregunta1" class="custom-control-input" value="D" #dieteticosPregunta1="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta1opcion4">d) 5</label>
              </div>
            </div>

            <!-- Cuestion 2 -->
            <h6 class="pt-4 pl-3"><strong>¿Incluye colaciones?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta2opcion1" name="dieteticosPregunta2" class="custom-control-input" value="Sí" #dieteticosPregunta2="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta2opcion1">a)	Sí</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta2opcion2" name="dieteticosPregunta2" class="custom-control-input" value="No" #dieteticosPregunta2="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta2opcion2">b) No</label>
              </div>
            </div>

            <!-- Cuestion 3 -->
            <h6 class="pt-4 pl-3"><strong>¿Qué tipo de carbohidrato es mas común en su dieta?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta3opcion1" name="dieteticosPregunta3" class="custom-control-input" value="A" #dieteticosPregunta3="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta3opcion1">a)	Arroz</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta3opcion2" name="dieteticosPregunta3" class="custom-control-input" value="B" #dieteticosPregunta3="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta3opcion2">b) Pasta</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta3opcion3" name="dieteticosPregunta3" class="custom-control-input" value="C" #dieteticosPregunta3="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta3opcion3">c) Pan</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta3opcion4" name="dieteticosPregunta3" class="custom-control-input" value="D" #dieteticosPregunta3="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta3opcion4">d) Tortilla</label>
              </div>
            </div>

            <!-- Cuestion 4 -->
            <h6 class="pt-4 pl-3"><strong>¿Qué proteínas consume con mayor regularidad?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta4opcion1" name="dieteticosPregunta4" class="custom-control-input" value="A" #dieteticosPregunta4="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta4opcion1">a)	Carne</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta4opcion2" name="dieteticosPregunta4" class="custom-control-input" value="B" #dieteticosPregunta4="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta4opcion2">b) Pollo</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta4opcion3" name="dieteticosPregunta4" class="custom-control-input" value="C" #dieteticosPregunta4="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta4opcion3">c) Pescado</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta4opcion4" name="dieteticosPregunta4" class="custom-control-input" value="D" #dieteticosPregunta4="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta4opcion4">d) Otro</label>
              </div>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-4 pl-3"><strong>¿Con que regularidad consume frutas y verduras?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta5opcion1" name="dieteticosPregunta5" class="custom-control-input" value="A" #dieteticosPregunta5="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta5opcion1">a)	1 día a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta5opcion2" name="dieteticosPregunta5" class="custom-control-input" value="B" #dieteticosPregunta5="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta5opcion2">b) 3 días a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta5opcion3" name="dieteticosPregunta5" class="custom-control-input" value="C" #dieteticosPregunta5="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta5opcion3">c) 5 o más días a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta5opcion4" name="dieteticosPregunta5" class="custom-control-input" value="D" #dieteticosPregunta5="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta5opcion4">d) Ningún día a la semana</label>
              </div>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-4 pl-3"><strong>¿Gusta de las dietas veganas?</strong></h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta6Opcion1" name="dieteticosPregunta6" class="custom-control-input" value="Si" #dieteticosPregunta6="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta6Opcion1">a)	Sí</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticosPregunta6Opcion2" name="dieteticosPregunta6" class="custom-control-input" value="No" #dieteticosPregunta6="ngModel" ngModel>
                <label class="custom-control-label" for="dieteticosPregunta6Opcion2">b) No</label>
              </div>
            </div>

            <!-- Cuestion 7 -->
            <h6 class="pt-4 pl-3"><strong>Describa brevemente cómo es su dieta regular <small>(por favor, facilítanos por lo menos 3 dias)</small>.</strong></h6>
              <div class="form-group row">
                <textarea class="form-control" id="dieteticosPregunta7" name="dieteticosPregunta7" rows="3" #dieteticosPregunta7="ngModel" ngModel></textarea>
              </div>

            <!-- Button -->
            <div class="form-group pt-3" *ngIf="formDietetico">
              <button [disabled]="!formDietetico.valid" (click)="saveDataDieteticos( formDietetico )" class="btn btn-info px-5">Finalizar la encuesta</button>
            </div>

          </form>


        </div>

      </div>

    </div>
  </div>
</div>

<div class="py-2"></div>
