<div class="py-2"></div>

<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Cuestionario <b class="underlined">Inicial&emsp;&emsp;</b></h4>
      <h4 class="text-center text-uppercase"><small>Gracias por responderlo completo</small></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

      <p class="text-justify py-3">El cuestionario abarca 5 rubros de preguntas: <strong>Alimenticios, Antropométricos, Bioquímicos, Clínicos, dietéticos</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint saepe, dolores quia perferendis totam dolorum nam, eligendi, debitis architecto cumque repellat, odio est doloribus accusamus. Eum laudantium minus inventore at!</p>

      <div class="py-2"></div>

      <!-- TABs -->
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active enlace-foro" id="generals-tab" data-toggle="tab" href="#generales" role="tab" aria-controls="home" aria-selected="true"><h6>Generales</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="aliment-tab" data-toggle="tab" href="#alimenticios" role="tab" aria-controls="home" aria-selected="false"><h6>Alimenticios</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="antropo-tab" data-toggle="tab" href="#antropometricos" role="tab" aria-controls="profile" aria-selected="false"><h6>Antropométricos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="bioquim-tab" data-toggle="tab" href="#bioquimicos" role="tab" aria-controls="contact" aria-selected="false"><h6>Bioquímicos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="clinic-tab" data-toggle="tab" href="#clinicos" role="tab" aria-controls="contact" aria-selected="false"><h6>Clínicos</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="diet-tab" data-toggle="tab" href="#dieteticos" role="tab" aria-controls="contact" aria-selected="false"><h6>Dietéticos</h6></a>
        </li>
      </ul>
      <!-- End TABs -->

      <div class="tab-content" id="myTabContent">

        <!-- Tab << Generales >> -->
        <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="home-tab">
          <form class="py-3 col-6 offset-3" #formGenerales="ngForm">
            <div class="form-group">
              <label><h6>Nombre de Usuario <small class="text-muted">Cómo te gustaría que te llamémos.</small></h6></label>
              <input type="text" class="form-control" placeholder="Nombre de usuario" name="userName" #userName="ngModel" ngModel required>
            </div>
            <div class="form-group">
              <label><h6>Edad</h6></label>
              <input type="text" class="form-control" placeholder="25" name="age" pattern="[0-9]{2,3}$" #age="ngModel" ngModel required>
            </div>

            <div class="form-group pt-3" *ngIf="formGenerales">
              <button [disabled]="!formGenerales.valid" (click)="saveDataGenerales( formGenerales )" class="btn btn-info px-5">Seguir a Alimenticios (2 de 6)</button>
            </div>

            <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>

          </form>
        </div>

        <!-- Tab << Alimenticio >> -->
        <div class="tab-pane fade show" id="alimenticios" role="tabpanel" aria-labelledby="home-tab">
          <form #formAlimenticios="ngForm">

            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3">¿Cuál es la frecuencia con la que haces ejercicio a la semana (en días)?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta1opcion1" name="alimentacionPregunta1" class="custom-control-input" value="Ningún día" ngModel required #alimentacionPregunta1="ngModel" >
                <label class="custom-control-label" for="alimentacionPregunta1opcion1">a)	Ningún día</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta1opcion2" name="alimentacionPregunta1" class="custom-control-input" value="de 1 a 3 días" ngModel required #alimentacionPregunta1="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta1opcion2">b) Entre 1 y 3 días</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta1opcion3" name="alimentacionPregunta1" class="custom-control-input" value="de 3 a 5 días" ngModel required #alimentacionPregunta1="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta1opcion3">c) Entre 3 y 5 días</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta1opcion4" name="alimentacionPregunta1" class="custom-control-input" value="toda la semana" ngModel required #alimentacionPregunta1="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta1opcion4">d) Toda la semana</label>
              </div>
            </div>

            <!-- Cuestion 2 -->
            <h6 class="pt-3 pl-3">¿Con qué intensidad realiza esta actividad? </h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta2opcion1" name="alimentacionPregunta2" class="custom-control-input" value="Muy baja" ngModel required #alimentacionPregunta2="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta2opcion1">a)	Muy baja</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta2opcion2" name="alimentacionPregunta2" class="custom-control-input" value="baja" ngModel required #alimentacionPregunta2="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta2opcion2">b) baja</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta2opcion3" name="alimentacionPregunta2" class="custom-control-input" value="moderada" ngModel required #alimentacionPregunta2="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta2opcion3">c) moderada</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta2opcion4" name="alimentacionPregunta2" class="custom-control-input" value="intensa" ngModel required #alimentacionPregunta2="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta2opcion4">d) intensa</label>
              </div>
            </div>

            <!-- Cuestion 3 -->
            <h6 class="pt-3 pl-3">¿Qué tipo de ejercicio hace? (trote, ejercicios como sentadillas, lagartijas, etc.)</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta3opcion1" name="alimentacionPregunta3" class="custom-control-input" value="Trote" ngModel required #alimentacionPregunta3="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta3opcion1">a)	Trote</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta3opcion2" name="alimentacionPregunta3" class="custom-control-input" value="lagartijas, sentadillas, etc." ngModel required #alimentacionPregunta3="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta3opcion2">b) lagartijas, sentadillas, etc.</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta3opcion3" name="alimentacionPregunta3" class="custom-control-input" value="pesas" ngModel required #alimentacionPregunta3="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta3opcion3">c) pesas</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta3opcion4" name="alimentacionPregunta3" class="custom-control-input" value="algún deporte tal como natación, futbol, etc." ngModel required #alimentacionPregunta3="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta3opcion4">d) algún deporte tal como natación, futbol, etc.</label>
              </div>
            </div>

            <!-- Cuestion 4 -->
            <h6 class="pt-3 pl-3">¿Qué duración por sesión le dedica al ejercicio (en minutos)?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta4opcion1" name="alimentacionPregunta4" class="custom-control-input" value="30 minutos" ngModel required #alimentacionPregunta4="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta4opcion1">a)	30 minutos</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta4opcion2" name="alimentacionPregunta4" class="custom-control-input" value="1 hora" ngModel required #alimentacionPregunta4="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta4opcion2">b) 1 hora</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta4opcion3" name="alimentacionPregunta4" class="custom-control-input" value="2 horas o más" ngModel required #alimentacionPregunta4="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta4opcion3">c) 2 horas o más</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta4opcion4" name="alimentacionPregunta4" class="custom-control-input" value="menos de 30 minutos" ngModel required #alimentacionPregunta4="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta4opcion4">d) menos de 30 minutos</label>
              </div>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-3 pl-3">¿Cuándo fue la última vez que participó en un programa de ejercicio regular?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta5opcion1" name="alimentacionPregunta5" class="custom-control-input" value="Hace menos de un mes" ngModel required #alimentacionPregunta5="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta5opcion1">a)	Hace menos de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta5opcion2" name="alimentacionPregunta5" class="custom-control-input" value="más de un mes" ngModel required #alimentacionPregunta5="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta5opcion2">b) más de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta5opcion3" name="alimentacionPregunta5" class="custom-control-input" value="más de 3 meses" ngModel required #alimentacionPregunta5="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta5opcion3">c) más de 3 meses</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta5opcion4" name="alimentacionPregunta5" class="custom-control-input" value="más de 6 meses" ngModel required #alimentacionPregunta5="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta5opcion4">d) más de 6 meses</label>
              </div>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-3 pl-3">¿Cuánto tiempo tiene sin realizar ejercicio físico regular?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta6opcion1" name="alimentacionPregunta6" class="custom-control-input" value="Hace menos de un mes" ngModel required #alimentacionPregunta6="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta6opcion1">a)	Hace menos de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta6opcion2" name="alimentacionPregunta6" class="custom-control-input" value="más de un mes" ngModel required #alimentacionPregunta6="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta6opcion2">b) más de un mes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta6opcion3" name="alimentacionPregunta6" class="custom-control-input" value="más de 3 meses" ngModel required #alimentacionPregunta6="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta6opcion3">c) más de 3 meses</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta6opcion4" name="alimentacionPregunta6" class="custom-control-input" value="más de 6 meses" ngModel required #alimentacionPregunta6="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta6opcion4">d) más de 6 meses</label>
              </div>
            </div>

            <!-- Cuestion 7 -->
            <h6 class="pt-3 pl-3">¿Cuál es el lugar en el que puede realizar ejercicio? <small>(Seleccione todas las opciones de acuerdo a sus posibilidades)</small></h6>
            <div class="form-group row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta7opcion1" name="alimentacionPregunta7A" ngModel #alimentacionPregunta7A="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta7opcion1">a)	Parques</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta7opcion2" name="alimentacionPregunta7B" ngModel #alimentacionPregunta7B="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta7opcion2">b) albercas</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta7opcion3" name="alimentacionPregunta7C" ngModel #alimentacionPregunta7C="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta7opcion3">c) gimnasio de pesas</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta7opcion4" name="alimentacionPregunta7D" ngModel #alimentacionPregunta7D="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta7opcion4">d) pista de atletismo</label>
              </div>
            </div>

            <!-- Cuestion 8 -->
            <h6 class="pt-3 pl-3">¿Qué le gustaría incluir en su programa? <small>Seleccione todas las opciones que le gustaría incluir</small></h6>
            <div class="form-group row">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta8opcion1" name="alimentacionPregunta8A" ngModel #alimentacionPregunta8A="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta8opcion1">a)	Plan de ejercicios</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta8opcion2" name="alimentacionPregunta8B" ngModel #alimentacionPregunta8B="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta8opcion2">b) Dieta</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta8opcion3" name="alimentacionPregunta8C" ngModel #alimentacionPregunta8C="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta8opcion3">c) Suplementos</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="alimentacionPregunta8opcion4" name="alimentacionPregunta8D" ngModel #alimentacionPregunta8D="ngModel">
                <label class="custom-control-label pr-3" for="alimentacionPregunta8opcion4">d) otro</label>
                <!-- <div *ngIf="alimentacionPregunta8opcion4 == 'true'"> <small>Por favor especifique cuál:</small> Esto aparece si marco la casilla otro</div> -->
              </div>
            </div>

            <!-- Cuestion 9 -->
            <h6 class="pt-3 pl-3">¿Cuál es su principal objetivo al integrarse a un programa de ejercicio?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta9opcion1" name="alimentacionPregunta9" class="custom-control-input" value="Eliminar grasa" ngModel required #alimentacionPregunta9="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta9opcion1">a)	Eliminar grasa</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta9opcion2" name="alimentacionPregunta9" class="custom-control-input" value="ganar masa muscular" ngModel required #alimentacionPregunta9="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta9opcion2">b) ganar masa muscular</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta9opcion3" name="alimentacionPregunta9" class="custom-control-input" value="mejorar mi condición física" ngModel required #alimentacionPregunta9="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta9opcion3">c) mejorar mi condición física</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta9opcion4" name="alimentacionPregunta9" class="custom-control-input" value="realizar actividad física para mi salud" ngModel required #alimentacionPregunta9="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta9opcion4">d) realizar actividad física para mi salud</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="alimentacionPregunta9opcion5" name="alimentacionPregunta9" class="custom-control-input" value="Transformar mi apariencia" ngModel required #alimentacionPregunta9="ngModel">
                <label class="custom-control-label" for="alimentacionPregunta9opcion5">e) Transformar mi apariencia</label>
              </div>
            </div>

            <!-- Alert -->
            <div *ngIf="!formAlimenticios.valid" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Alerta de error:</strong> Favor de responder todas las preguntas.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Button -->
            <div (click)="saveDataAlimenticios( formAlimenticios )" class="form-group row pt-3" *ngIf="formAlimenticios">
              <button [disabled]="!formAlimenticios.valid" class="btn btn-info px-5">Seguir a Antropométricos (3 de 6)</button>
            </div>

          </form>

        </div>

        <!-- Tab << Antropométricos >> -->
        <div class="tab-pane fade show" id="antropometricos" role="tabpanel" aria-labelledby="profile-tab">

          <form #formAntropometricos="ngForm" >

            <!-- Cuestion 1 -->
            <div class="form-group">
              <h6 class="pt-4 pl-3">Talla en metros. <small>Por ejemplo: 1.74m</small></h6>
              <input type="text" class="form-control" name="height" placeholder="P.ej. 1.74" #height="ngModel" ngModel required>
            </div>

            <!-- Cuestion 2 -->
            <div class="form-group">
              <h6 class="pt-3 pl-3">Peso en Kilogramos. </h6>
              <input type="text" class="form-control" name="weight" placeholder="P.ej. 75.2" #weight="ngModel" ngModel required>
            </div>

            <!-- Cuestion 3 -->
            <div class="form-group">
            <h6 class="pt-3 pl-3">Porcentaje de grasa. <small>(en caso de poder realizarlo, no es un dato vital pero es muy importante conocer el porcentaje de grasa y de musculo ya que el peso a veces no nos dice la realidad de nuestra apariencia ni nuestros objetivos). </small></h6>
            <input type="text" class="form-control" name="fatPercent" placeholder="32" #fatPercent="ngModel" ngModel>
          </div>

            <!-- Button -->
            <div class="form-group pt-3" *ngIf="formGenerales">
              <button [disabled]="!formAntropometricos.valid" (click)="saveDataAntropometricos( formAntropometricos )" class="btn btn-info px-5">Seguir a Bioquímicos (4 de 6)</button>
            </div>

            <!-- Alert -->
            <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>

          </form>
        </div>

        <!-- Tab << Bioquímicos >> -->
        <div class="tab-pane fade show" id="bioquimicos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formBioquimicos="ngForm" >

            <h6 class="pt-4 pl-3">En caso de poder realizar un análisis de laboratorio, nos brindaría mucha mayor información para realizar su plan alimenticio y de ejercicio.</h6>

              <div class="custom-control custom-radio my-3">
                <input type="radio" id="bioquimico1" class="custom-control-input py-2" name="bioquimicosPregunta1" value="No cuenta con análisis" #bioquimicosOpcion1="ngModel" ngModel>
                <label class="custom-control-label" for="bioquimico1"><strong>No</strong> cuento con un análisis de Laboratorio.</label>
              </div>
              <div class="custom-control custom-radio my-3">
                <input type="radio" id="bioquimico2" class="custom-control-input py-2" name="bioquimicosPregunta1" value="Si" #bioquimicosOpcion1="ngModel" ngOnInit="false" ngModel>
                <label class="custom-control-label" for="bioquimico2"><strong>Sí</strong> cuento con un análisis de Laboratorio.</label>
              </div>


              <div *ngIf="bioquimicosOpcion1.value == 'Si' " > <small>Si cuentas con una copia, favor de subirla en cualquiera de los siguientes formatos: PDF, JPG, PNG</small>


                <div class="form-group">
                  <label for="exampleFormControlFile1">Example file input</label>
                  <input (change)="selectFile($event.target.files[0])" type="file" class="form-control-file" id="exampleFormControlFile1" name="attached" accept=".jpg, .jpeg, .png, .pdf" #attached=ngModel ngModel>
                </div>



                <!-- <div class="custom-file">
                  <input type="file" class="custom-file-input" id="attachedFile" name="attached" accept=".jpg, .jpeg, .png, .pdf" #attached=ngModel ngModel>
                  <label class="custom-file-label" for="attachedFile" ></label>
                </div> -->
              </div>

              <!-- Button -->
              <!-- <div class="form-group pt-3" *ngIf="formGenerales">
                <button [disabled]="!formBioquimicos.valid" (click)="saveDataBioquimicos( formBioquimicos )" class="btn btn-info px-5">Seguir a Clínicos (5 de 6)</button>
              </div> -->
              <div class="form-group pt-3" *ngIf="formGenerales">
                <button [disabled]="!formBioquimicos.valid" (click)="saveDataBioquimicos( formBioquimicos )" class="btn btn-info px-5">Seguir a Clínicos (5 de 6)</button>
              </div>

              <!-- Alert -->
              <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
                Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
              </div>

          </form>

        </div>

        <!-- Tab << Clínicos >> -->
        <div class="tab-pane fade show" id="clinicos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formClinicos="ngForm" >
            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3">Antecedentes familiares de enfermedades crónicas degenerativas (diabetes, hipertension, cardiopatías, cáncer, etc.)</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta1Opcion1" name="clinicosPregunta1" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta1Opcion1">No</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta1Opcion2" name="clinicosPregunta1" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta1Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 2 -->
            <h6 class="pt-4 pl-3">Enfermedades sufridas anteriormente (Diabetes, hipertensión, cardiopatías, artritis, etc.)</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta2Opcion1" name="clinicosPregunta2" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta2Opcion1">No</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta2Opcion2" name="clinicosPregunta2" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta2Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 3 -->
            <h6 class="pt-4 pl-3">¿Padece de alguna alergia, intolerancia o aversión alimenticia (algún alimento que no soporte comer)?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta3Opcion1" name="clinicosPregunta3" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta3Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta3Opcion2" name="clinicosPregunta3" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta3Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 4 -->
            <h6 class="pt-4 pl-3">¿Usa algún fármaco actualmente?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta4Opcion1" name="clinicosPregunta4" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta4Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta4Opcion2" name="clinicosPregunta4" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta4Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-4 pl-3">¿Usa algún suplemento alimenticio actualmente?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta5Opcion1" name="clinicosPregunta5" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta5Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta5Opcion2" name="clinicosPregunta5" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta5Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-4 pl-3">En caso de haber contestado si en la pregunta anterior, ¿Qué suplemento es y con qué objetivo?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta6Opcion1" name="clinicosPregunta6" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta6Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta6Opcion2" name="clinicosPregunta6" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta6Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 7 -->
            <h6 class="pt-4 pl-3">¿Cuántas horas duerme al día?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta7Opcion1" name="clinicosPregunta7" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta7Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta7Opcion2" name="clinicosPregunta7" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta7Opcion2">Sí</label>
              </div>
            </div>

            <!-- Cuestion 8 -->
            <h6 class="pt-4 pl-3">Aviso de Provacidad y Descargo de Responsabilidad</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta8Opcion1" name="clinicosPregunta8" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="clinicosPregunta8Opcion1">No</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="clinicosPregunta8Opcion2" name="clinicosPregunta8" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="clinicosPregunta8Opcion2">Sí</label>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group pt-3" *ngIf="formGenerales">
              <button [disabled]="!formClinicos.valid" (click)="saveDataDieteticos( formClinicos )" class="btn btn-info px-5">Seguir a Dietéticos (6 de 6)</button>
            </div>

            <!-- Alert -->
            <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>

          </form>

        </div>

        <!-- Tab << Dietéticos >> -->
        <div class="tab-pane fade show" id="dieteticos" role="tabpanel" aria-labelledby="contact-tab">

          <form #formDietetico="ngForm" >
            <!-- Cuestion 1 -->
            <h6 class="pt-4 pl-3">¿Cuántas comidas hace al día?</h6>
            <div class="form-group row">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="dieteticoPregunta1opcion1" name="dieteticoPregunta1" class="custom-control-input" value="2 comidas/día" ngModel>
                  <label class="custom-control-label" for="dieteticoPregunta1opcion1">a)	2</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="dieteticoPregunta1opcion2" name="dieteticoPregunta1" class="custom-control-input" value="3 comidas/día" ngModel>
                  <label class="custom-control-label" for="dieteticoPregunta1opcion2">b) 3</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="dieteticoPregunta1opcion3" name="dieteticoPregunta1" class="custom-control-input" value="4 comidas/día" ngModel>
                  <label class="custom-control-label" for="dieteticoPregunta1opcion3">c) 4</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="dieteticoPregunta1opcion4" name="dieteticoPregunta1" class="custom-control-input" value="5 comidas/día" ngModel>
                  <label class="custom-control-label" for="dieteticoPregunta1opcion4">d) 5</label>
                </div>
              </div>

            <!-- Cuestion 2 -->
            <h6 class="pt-4 pl-3">¿Incluye colaciones?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta2opcion1" name="dieteticoPregunta2" class="custom-control-input" value="Sí" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta2opcion1">a)	Sí</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta2opcion2" name="dieteticoPregunta2" class="custom-control-input" value="No" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta2opcion2">b) No</label>
              </div>
            </div>

            <!-- Cuestion 3 -->
            <h6 class="pt-4 pl-3">¿Qué tipo de carbohidrato es mas común en su dieta?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta3opcion1" name="dieteticoPregunta3" class="custom-control-input" value="Arroz" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta3opcion1">a)	Arroz</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta3opcion2" name="dieteticoPregunta3" class="custom-control-input" value="Pasta" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta3opcion2">b) Pasta</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta3opcion3" name="dieteticoPregunta3" class="custom-control-input" value="Pan" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta3opcion3">c) Pan</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta3opcion4" name="dieteticoPregunta3" class="custom-control-input" value="Tortillas" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta3opcion4">d) Tortilla</label>
              </div>
            </div>

            <!-- Cuestion 4 -->
            <h6 class="pt-4 pl-3">¿Qué proteínas consume con mayor regularidad?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta4opcion1" name="dieteticoPregunta4" class="custom-control-input" value="Carne" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta4opcion1">a)	Carne</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta4opcion2" name="dieteticoPregunta4" class="custom-control-input" value="Pollo" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta4opcion2">b) Pollo</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta4opcion3" name="dieteticoPregunta4" class="custom-control-input" value="Pescado" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta4opcion3">c) Pescado</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta4opcion4" name="dieteticoPregunta4" class="custom-control-input" value="Otro" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta4opcion4">d) Otro</label>
              </div>
            </div>

            <!-- Cuestion 5 -->
            <h6 class="pt-4 pl-3">¿con que regularidad consume frutas y verduras?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta5opcion1" name="dieteticoPregunta5" class="custom-control-input" value="1 día a la semana" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta5opcion1">a)	1 día a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta5opcion2" name="dieteticoPregunta5" class="custom-control-input" value="3 dias a la semana" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta5opcion2">b) 3 dias a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta5opcion3" name="dieteticoPregunta5" class="custom-control-input" value="5 o más días a la semana" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta5opcion3">c) 5 o más días a la semana</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta5opcion4" name="dieteticoPregunta5" class="custom-control-input" value="Ningún día a la semana" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta5opcion4">d) Ningún día a la semana</label>
              </div>
            </div>

            <!-- Cuestion 6 -->
            <h6 class="pt-4 pl-3">¿Gusta de las dietas veganas?</h6>
            <div class="form-group row">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta6Opcion1" name="dieteticoPregunta6" class="custom-control-input" value="A" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta6Opcion1">a)	Sí</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dieteticoPregunta6Opcion2" name="dieteticoPregunta6" class="custom-control-input" value="B" ngModel>
                <label class="custom-control-label" for="dieteticoPregunta6Opcion2">b) No</label>
              </div>
            </div>

            <!-- Cuestion 7 -->
            <h6 class="pt-4 pl-3">Escriba brevemente cómo es su dieta regular (por favor, facilitanos por lo menos 3 dias).</h6>
            <div class="form-group row">
                <textarea class="form-control" id="dieteticoPregunta7" name="dieteticoPregunta7" rows="3" ngModel></textarea>
              </div>

            <!-- Button -->
            <div class="form-group pt-3" *ngIf="formDietetico">
              <button [disabled]="!formDietetico.valid" (click)="saveDataDieteticos( formDietetico )" class="btn btn-info px-5">Seguir a Dietéticos (6 de 6)</button>
            </div>

            <!-- Alert -->
            <div *ngIf="age.dirty && age.errors?.pattern" class="alert alert-danger" role="alert">
              Favor de ingresar solo caractéres numéricos. Mínimo 2 caracteres máximo 3.
            </div>
          </form>


        </div>

      </div>

    </div>
  </div>
</div>

<div class="py-2"></div>
