<div class="py-2"></div>

<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Felicidades ahora eres un <b class="underlined">Changer&emsp;&emsp;</b></h4>
      <h4 class="text-center text-uppercase"><small>Gracias por responder el cuestionario completo</small></h4>
    </div>
  </div>
</div>
<div class="container animated fadeIn">

  <h2 class="text-uppercase py-3">Siguientes pasos</h2>

  <p class="text-justify py-3">Una vez que has guardado tu cuestionario, uno de nuestros especialistas iniciará con la elaboración de tu plan de alimentación o tu plan de ejercicio (dependiendo del paquete que hayas solicitado)</p>

  <p class="text-justify py-3">En un periodo máximo de 3 días hábiles te confirmarémos la creación de tu plan de 40 días, no te preocupes, la vigencia de tu plan inicia cuando te confirmemos que el plan se ha dado de alta, por lo que <strong>tu vigencia inicia ese mismo día y está completamente cubierta para que puedas dar inicio sin problema alguno</strong></p>

  <hr>

  <h2 class="text-uppercase py-3">Ahora soy un Changer</h2>

  <p class="text-justify py-3">Te invitamos a navegar por las diferentes secciones de la plataforma, podrás observar que como Changer tienes acceso a contenido exclusivo, también puedes dejar tus dudas en los foros exclusivos y ver todo lo que ahí se pregunta y se responde.</p>

  <p class="text-justify py-3">Otra de las muchas ventajas de ser un Changer es que puedes dejar tus preguntas en la sección "Dudas", solo si eres Changer puedes exponer dudas en este apartado.</p>

  <hr>


<h2 class="text-uppercase py-3">Secciones con contenido exclusivo: </h2>
<div class="row justify-content-md-center">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="card border-light mb-3" style="width: 20rem;">
      <div class="card-body text-danger">
        <ul class="list-unstyled text-center text-uppercase">
          <li><a class="black-font" [routerLink]="[ '/blog' ]"><strong><h4>Blog</h4></strong></a></li>
          <li><a class="black-font" [routerLink]="[ '/videos' ]"><strong><h4>Videos</h4></strong></a></li>
          <li><a class="black-font" [routerLink]="[ '/ask' ]"><strong><h4>Dudas</h4></strong></a></li>
          <li><a class="black-font" [routerLink]="[ '/forum' ]"><strong><h4>Foro</h4></strong></a></li>
        </ul>
      </div>
    </div>
</div>

</div>
