<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img style="max-height:100%" src="assets/img/b.jpg" alt="">

      <button class="btn btn-primary btn-lg btn-block my-3" name="button">Registrarme Ahora</button>

      <img style="max-height:100%" src="assets/img/a.jpg" alt="">

      <button class="btn btn-primary btn-lg btn-block my-3" name="button">Registrarme Ahora</button>

      <img style="max-height:100%" src="assets/img/cube.jpg" alt="">

      <button class="btn btn-primary btn-lg btn-block my-3" name="button">Registrarme Ahora</button>

      <img style="max-height:100%" src="assets/img/for.jpg" alt="">
    </div>
  </div>
</div>
