<div class="container-fluid">
  <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 col-xs-12 pt-3 animated fadeIn slow">
    <!-- <img src="assets/img/logo.png" width="150" height="150" alt=""> -->
    <h1>Meta Body Changer</h1>
    <h6 class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis maiores tempore aspernatur iste sed quasi, dicta ea fugit exercitationem provident mollitia voluptate odit ullam. Qui deleniti ipsam voluptatibus ad adipisci!</h6>
  </div>
</div>

<div class="py-3"></div>

<div class="container">
  <div class="row animated fadeInLeft">

    <h2>Artículos</h2>
    <!-- <div class="card-deck">

      <div *ngFor="let post of posts; i as index" class="card border-danger ">
        <img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.subtitle }}</p>

          <div class="text-center">
            <a href="id" class="btn btn-outline-danger btn-lg">Más Info...</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ post.date }}</small>
        </div>
      </div>

    </div> -->

  </div>
</div>

<div class="py-3"></div>

<div class="container">
  <div class="row animated fadeInRight">

    <h2>Videos</h2>
    <div class="card-deck">

      <div class="card border-danger ">
        <img class="card-img-top" src="assets/img/img.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Video 1</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          <div class="text-center">
            <a href="" class="btn btn-outline-danger btn-lg">Ver Más...</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Publicado el día 31 de Febrero de 1492</small>
        </div>
      </div>

      <div class="card border-danger">
        <img class="card-img-top" src="assets/img/img.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Video 1</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <div class="text-center">
            <a href="" class="btn btn-outline-danger btn-lg">Ver Más...</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Publicado el día 31 de Febrero de 1492</small>
        </div>
      </div>

      <div class="card border-danger">
        <img class="card-img-top" src="assets/img/img.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Video 1</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <div class="text-center">
            <a href="" class="btn btn-outline-danger btn-lg">Ver Más...</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Publicado el día 31 de Febrero de 1492</small>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="py-3"></div>

<div class="container-fluid bg-panal py-3">
  <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 col-xs-12 pt-3 animated fadeIn slow">
    <h3>Suscríbete a nuestro Newsletter</h3>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Dirección de Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu dirección de correo con nadie.</small>
      </div>
      <button type="submit" class="btn btn-primary">Suscribirme</button>
    </form>
  </div>
</div>

<!-- <div class="py-4"></div> -->
