<div class="container-fluid">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12 pt-3 animated fadeIn slow">
    <!-- <img src="assets/img/logo.png" width="150" height="150" alt=""> -->
    <h1>Meta Body Changer</h1>
    <h6 class="text-right">Bienvenido al nuevo concepto de entrenamiento personal, en el cual podrás cumplir tus objetivos de una forma optima y saludable, incorporando los mejores elementos de la vasta gama de deportes y actividades físicas así como nutrición y suplementación. <strong>Meta Body Changer</strong> como plan de entrenamiento ha sido probado en deportistas de alto rendimiento así como modelos fitness, participantes de reality shows, deportistas amateur así como principiantes en la actividad física mostrando grandes resultados con cambios notorios en las <strong>primeras semanas</strong> de haber iniciado el plan, probando nuestro sistema lo único que puedes perder son calorías y reservas lipídicas (o grasa). Únete a los mejores y cumple tus objetivos sin sacrificar tu salud ya que para nosotros la salud de nuestros miembros es lo más importante. Deja a un lado el “pain” y comienza el <strong>“gain”</strong>.</h6>
  </div>
</div>

<div class="py-3"></div>

<div class="container">
  <div class="row animated fadeInLeft">

    <h4>Últimos Artículos</h4>

    <div class="card-deck">

      <div *ngFor="let post of posts" class="card border-danger ">
        <img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
        <div class="card-body">

          <h5 class="card-title text-center">{{ post.title }}</h5>
          <p class="card-text">{{ post.text | slice:0:100 }} ...</p>

          <div class="text-center">
            <a href="#/post/{{ post._id }}" class="btn btn-outline-danger btn-lg">Más Info...</a>
            <!-- <a [routerLink]="['/post']" class="btn btn-outline-info btn-lg">Más Info...</a> -->
          </div>

        </div>
        <div class="card-footer">
          <small class="text-muted">Fecha de publicación: {{ post.date }}</small>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="py-3"></div>

<div class="container">
  <div class="row animated fadeInRight">

    <h4>Videos</h4>
    <div class="card-deck">

      <div *ngFor="let video of videos" class="card border-danger ">
        <img class="card-img-top" src="{{ video.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text text-justify">{{ video.text | slice:0:70 }} ...</p>

          <div class="text-center">
            <a href="#/video/{{ video._id }}" class="btn btn-outline-danger btn-lg">Ver Video</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Fecha de publicación: {{ video.date }}</small>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="py-3"></div>

<div class="container-fluid bg-panal py-3">
  <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-12 col-xs-12 pt-3 animated fadeIn slow">
    <h3>Suscríbete a nuestro Newsletter</h3>
    <!-- MailRelayfrom -->
    <!-- <form enctype="application/x-www-form-urlencoded" action="https://mbchanger.ip-zone.com/ccm/subscribe/index/form/3nxe8hcgt5" method="post">
      <dl class="zend_form">
       <dt id="groups-label"> </dt>
       <dd id="groups-element"><input type="hidden" name="groups[]" value="1"></dd>
         <dt id="name-label">
         <label for="name" class="optional">Nombre</label>
         </dt>
       <dd id="name-element">
       <input type="text" name="name" id="name" value=""></dd>
       <dt id="email-label">
       <label for="email" class="required">Email</label>
       </dt>
       <dd id="email-element">
       <input type="text" name="email" id="email" value=""></dd>
       <dt id="submit-label"> </dt>
       <dd id="submit-element">
       <input type="submit" name="submit" id="submit" value="Suscribir"></dd>
       <dt id="anotheremail-label"> </dt>
       <dd id="anotheremail-element">
       <input type="text" name="anotheremail" id="anotheremail" value="" style="position: absolute; left: -5000px" tabindex="-1"></dd>
      </dl>
    </form> -->
    <!-- html comment -->
  </div>
</div>

<!-- <div class="py-4"></div> -->
