<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/b.jpg" alt="First slide">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<!-- <div class="container-fluid">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12 pt-3 animated fadeIn slow">
    <img src="assets/img/logo.png" width="150" height="150" alt="">

    <h1>Meta Body Changer</h1>
    <h6 class="text-right">Bienvenido al nuevo concepto de entrenamiento personal, en el cual podrás cumplir tus objetivos de una forma optima y saludable, incorporando los mejores elementos de la vasta gama de deportes y actividades físicas así como nutrición y suplementación. <strong>Meta Body Changer</strong> como plan de entrenamiento ha sido probado en deportistas de alto rendimiento así como modelos fitness, participantes de reality shows, deportistas amateur así como principiantes en la actividad física mostrando grandes resultados con cambios notorios en las <strong>primeras semanas</strong> de haber iniciado el plan, probando nuestro sistema lo único que puedes perder son calorías y reservas lipídicas (o grasa). Únete a los mejores y cumple tus objetivos sin sacrificar tu salud ya que para nosotros la salud de nuestros miembros es lo más importante. Deja a un lado el “pain” y comienza el <strong>“gain”</strong>.</h6>
  </div>
</div> -->

<div class="pt-1 background-white"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Últimos <b class="underlined">Artículos&emsp;&emsp;</b></h4>
    </div>
  </div>
</div>

<div class="py-3"></div>

<div class="container-fluid">
  <div class="row animated fadeInLeft">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 offset-lg-1 offset-md-1 offset-sm-1">

      <div class="card-deck">

        <div *ngFor="let post of posts" class="card border-light shadow">
          <img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
          <div class="card-body">

            <h5 class="card-title text-center">{{ post.title }}</h5>
            <p class="card-text" [innerHtml]='post.text | slice:0:200'></p>

            <div class="text-left">
              <a href="#/post/{{ post._id }}" class=""><h6>Leer más ></h6></a>
              <!-- <a [routerLink]="['/post']" class="btn btn-outline-info btn-lg">Más Info...</a> -->
            </div>

          </div>

          <div class="py-1 background-black"></div>

          <div class="card-footer text-right">
            <small class="text-muted">Fecha de publicación: {{ post.date }}</small>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="py-3"></div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/a.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
    <h4 class="text-center text-uppercase">Últimos <b class="underlined">Videos&emsp;&emsp;</b></h4>
  </div>
</div>

<div class="py-3"></div>

<div class="container-fluid">
  <div class="row animated fadeInLeft">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 offset-lg-1 offset-md-1 offset-sm-1">

      <div class="card-deck">

        <div *ngFor="let video of videos" class="card border-light shadow">
          <img class="card-img-top" src="{{ video.image }}" alt="{{ video.title }}" title="{{ video.title }}">
          <div class="card-body">

            <h5 class="card-title text-center">{{ video.title }}</h5>
            <p class="card-text">{{ video.text | slice:0:200 }} ...</p>

            <div class="text-left">
              <a href="#/post/{{ video._id }}" class="video-link"><h6>Ver más ></h6></a>
              <!-- <a [routerLink]="['/post']" class="btn btn-outline-info btn-lg">Más Info...</a> -->
            </div>

          </div>

          <div class="py-1 background-black"></div>

          <div class="card-footer text-right">
            <small class="text-muted">Fecha de publicación: {{ video.date }}</small>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="py-3"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5 background-black white-font">
      <h4 class="text-center text-uppercase">Suscríbete a nuestro <b class="underlined">Newsletter&emsp;&emsp;</b></h4>
    </div>
  </div>
</div>

<form>
  <div class="form-row background-black white-font">
    <div class="col-1 text-center">
      <label><h4>Tú Nombre | </h4></label>
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Ingresa tu nombre">
    </div>
    <div class="col-1 text-center">
      <label><h4>Tú Mail | </h4></label>
    </div>
    <div class="col-4">
      <input type="email" class="form-control" placeholder="Ingresa tu mail">
    </div>
  </div>
  <div class="form-row background-black white-font">
    <div class="col text-center py-4">
      <button class="btn btn-link yellow-font" type="" name="button"><h4>Enviar ></h4></button>
    </div>
  </div>
</form>

      <!-- <form class="form-inline" enctype="application/x-www-form-urlencoded" action="https://mbchanger.ip-zone.com/ccm/subscribe/index/form/" method="post">
        <dl class="zend_form">
         <dt id="name-label">
         <label for="name" class="optional">Nombre</label>
         </dt>
         <dd id="name-element">
         <input type="text" name="name" id="name" value=""></dd>
         <dt id="email-label">
         <label for="email" class="required">Email</label>
         </dt>
         <dd id="email-element">
         <input type="text" name="email" id="email" value=""></dd>
         <dt id="groups-label">
         <label class="optional">Grupos</label>
         </dt>
         <dd id="groups-element">
         <label>
         <input type="checkbox" name="groups[]" id="groups-1" value="1">default</label>
         </dd>
         <dt id="anotheremail-label"> </dt>
         <dd id="anotheremail-element">
         <input type="text" name="anotheremail" id="anotheremail" value="" style="position: absolute; left: -5000px" tabindex="-1"></dd>
         <dt id="submit-label"> </dt>
         <dd id="submit-element">
         <input type="submit" name="submit" id="submit" value="Suscribir"></dd>
        </dl>
        </form> -->

<div class="py-3"></div>
